*/node_modules/*
*/.git/
*/app/css/
*/**/package-lock.json
/**/Thumbs.db
/**/.DS_Store

*/bin/*
*/obj/*
*/node_modules/*
*/Content/Uploads*

*.user
*.suo
*.orig
*.vsmdi
*.zip
*.log
*.log.*
*.DotSettings

*ReSharper*
/.nuget
/.vs/config
/packages
/.vs
/AkonCMS.WebApi/Properties/PublishProfiles
/.vs
/AkonCMS.WebApi/package-lock.json