.form-horizontal {
    .form-group {
        .control-label {
            margin-bottom: 5px;
        }
    }

    .form-control {
        background: #f7f7f7;
        border: 1px solid #d7d7d7;
        box-shadow: none;
        outline: none;
        border-radius: 2px;
        transition: .3s;

        &:hover {
            background: darken(#f7f7f7, 5%);
        }
    }

    .form-baton {
        margin-bottom: 20px;

        .btn-primary {
            background: $second-color;
            border-color: $second-color;
            width: 180px;
            padding: 8px 15px;
        }
    }
}

.btn {
    transition: .3s;

    &-primary {
        color: #fff;
        font-weight: 500;
        background: $primary-color;
        border-color: $primary-color;
        border-radius: 3px;

        &:active,
        &:focus,
        &:hover {
            background: darken($primary-color, 5%) !important;
            border-color: darken($primary-color, 5%) !important;
            box-shadow: none !important;
        }
    }
}

.form-control {
    outline: none;
    box-shadow: none !important;

    &:focus {
        border-color: $second-color;
    }
}

.required {
    color: #e41c1c;
}

.form-checkbox {
    position: relative;
    display: inline-block;

    input {
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &:checked~span {
            &:after {
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
    }

    span {
        display: block;
        font-size: 14px;
        color: $text-color;
        position: relative;
        padding: 3px 0 0 33px;
        cursor: pointer;

        a {
            color: $primary-color;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        &:hover {
            color: $second-color;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 6px;
            top: 7px;
            width: 10px;
            height: 10px;
            border-radius: 2px;
            visibility: hidden;
            opacity: 0;
            background: darken(#d7d7d7, 30%);
            transform: rotate(90deg) scale(.8);
            transition: .3s ease-in-out;
        }

        &:before {
            content: "";
            display: block;
            background: #fff;
            border: 1px solid #d7d7d7;
            border-radius: 2px;
            width: 21px;
            height: 21px;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
}