.form-horizontal {
    .form-group {
        .control-label {
            margin-bottom: 5px;
        }
    }

    .form-control {
        background: #f7f7f7;
        border: 1px solid #d7d7d7;
        box-shadow: none;
        outline: none;
        border-radius: 2px;
        transition: .3s;

        &:hover {
            background: darken(#f7f7f7, 5%);
        }
    }

    .form-baton {
        margin-bottom: 20px;

        .btn-primary {
            background: $second-color;
            border-color: $second-color;
            width: 180px;
            padding: 8px 15px;
        }
    }
}

.autocomplete {
    position: relative;

    .form-control {
        padding-right: 25px !important;
    }

    &-items {
        position: absolute;
        background: #fff;
        border: 1px solid #acacac;
        margin: 2px 0 0;
        max-height: 260px;
        overflow: auto;
        z-index: 99;
        top: 100%;
        left: 0;
        right: 0;
        padding: 5px 0;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);

        >div {
            padding: 10px 15px;
            cursor: pointer;
            color: #737373;
            transition: .1s;

            strong {
                color: $text-color;
            }

            i {
                display: inline-block;
                margin-right: 10px;
                position: relative;
                top: 2px;
            }

            &:hover {
                background-color: darken(#fff, 6%);
            }
        }

        &__nothing-found {
            cursor: default !important;
            background: #fff !important;
        }
    }

    &-active {
        background-color: darken(#fff, 6%);
        color: $second-color;

        strong {
            color: $second-color;
        }
    }

    &:after {
        @extend %fontawesome;
        content: "\f107";
        color: #969797;
        position: absolute;
        font-size: 18px;
        right: 10px;
        top: 6px;
        transition: .1s;
    }
}

.dropdown {
    user-select: none;

    .dropdown-toggle {
        background: none;
        border: 1px solid #eaebec;
        color: $text-color;
        font-size: 14px;
        border-radius: 3px;
        padding: 7px 30px 7px 10px;
        width: 100%;
        text-align: left;
        position: relative;
        outline: none;

        &:after {
            display: none;
        }

        &:hover {
            color: $primary-color;
            background: darken(#eaeaea, 2%);
        }

        i {
            width: 18px;
            height: 8px;
            display: inline-block;
            position: absolute;
            right: 5px;
            top: 8px;
            font-size: 18px;
            color: #3e3e3e;
        }
    }

    .dropdown-menu {
        border: 1px solid #acacac;
        box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
        border-radius: 0;
        padding: 0;
        margin: 1px 0 0;
        width: 100%;

        .dropdown-item {
            display: block;
            color: $text-color;
            font-size: 13px;
            padding: 8px 10px;
            position: relative;
            border-bottom: 1px solid #e1e1e1;

            &:hover,
            &.dropdown-active {
                color: $primary-color;
                background: #e1e1e1;
                text-decoration: none;
            }
        }
    }
}

.btn {
    transition: .3s;
    border-radius: 2px;
    font-weight: 500;

    &:active,
    &:focus,
    &:hover {
        box-shadow: none !important;
    }

    &-primary {
        color: #fff;
        background: $primary-color;
        border-color: $primary-color;

        &:active,
        &:focus,
        &:hover {
            background: darken($primary-color, 5%) !important;
            border-color: darken($primary-color, 5%) !important;
        }
    }

    &-default {
        background: #eaebec;
        border-color: #dedede;

        &:active,
        &:focus,
        &:hover {
            background: darken(#eaebec, 5%) !important;
            border-color: darken(#dedede, 5%) !important;
        }
    }

    &-green {
        background: $primary-color;
        color: #fff;
        border: 1px solid $primary-color;

        &:hover,
        &:focus {
            background: darken($primary-color, 10%);
            border-color: darken($primary-color, 10%);
            color: #fff;
        }
    }
}

.form-control {
    outline: none;
    box-shadow: none !important;

    &:focus {
        border-color: $second-color;
    }
}

.required {
    color: #e41c1c;
}

.form-checkbox {
    position: relative;
    display: inline-block;

    input {
        opacity: 0;
        visibility: hidden;
        position: absolute;

        &:checked~span {
            &:after {
                opacity: 1;
                visibility: visible;
                transform: none;
            }
        }
    }

    span {
        display: block;
        font-size: 14px;
        color: $text-color;
        position: relative;
        padding: 3px 0 0 33px;
        cursor: pointer;

        a {
            color: $primary-color;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        &:hover {
            color: $second-color;
        }

        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 6px;
            top: 7px;
            width: 10px;
            height: 10px;
            border-radius: 2px;
            visibility: hidden;
            opacity: 0;
            background: darken(#d7d7d7, 30%);
            transform: rotate(90deg) scale(.8);
            transition: .3s ease-in-out;
        }

        &:before {
            content: "";
            display: block;
            background: #fff;
            border: 1px solid #d7d7d7;
            border-radius: 2px;
            width: 21px;
            height: 21px;
            position: absolute;
            left: 0;
            top: 2px;
        }
    }
}

.radio {
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    position: relative;
    transition: .2s;

    label {
        font-size: 16px;
        line-height: 1.2;
        padding-left: 33px;
        min-height: 23px;
        display: flex;
        align-items: center;

        &:before {
            content: "";
            width: 22px;
            height: 22px;
            border: 1px solid #9c9c9c;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: -12px;
            left: 0;
            background: #fff;
            z-index: 1;
            transition: .3s;
        }

        &:after {
            content: "";
            width: 14px;
            height: 14px;
            border: 1px solid $border-color;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            margin-top: -8px;
            left: 4px;
            background: $second-color;
            z-index: 2;
            transition: .3s;
            transform: scale(0);
            opacity: 0;
            visibility: hidden;
        }
    }

    &:hover {
        color: $second-color;

        label {
            &:before {
                border-color: $primary-color;
            }
        }
    }

    input[type=radio] {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;

        &:checked {
            ~label {
                &:after {
                    transform: scale(1);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.checkbox {
    margin: 0 0 5px 0;
    transition: .2s;

    label {
        margin: 0;
        padding-left: 35px;
        white-space: normal;
        cursor: pointer;
        font-size: 14px;

        span {
            min-height: 31px;
            font-size: 16px;
            display: flex;
            align-items: center;
        }
    }

    .txt {
        position: relative;
        line-height: 1;

        a {
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }

        &:before {
            content: "";
            width: 22px;
            height: 22px;
            border: 1px solid #d7d7d7;
            position: absolute;
            top: 50%;
            margin-top: -13px;
            left: 5px;
            z-index: 1;
            transition: .3s;
        }

        &:after {
            content: "";
            width: 16px;
            height: 9px;
            border-bottom: 2px solid $second-color;
            border-left: 2px solid $second-color;
            position: absolute;
            top: 50%;
            margin-top: -9px;
            left: 8px;
            z-index: 2;
            transition: .3s;
            transform: rotate(-55deg) scale(0);
            opacity: 0;
            visibility: hidden;
        }
    }

    input[type=checkbox] {
        display: none;

        &:checked {
            ~.txt {
                &:after {
                    transform: rotate(-55deg) scale(1);
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &:disabled+.txt {}
    }

    &:hover {
        color: $second-color;

        .txt {
            &:before {
                border-color: $primary-color;
            }
        }
    }
}