.pagination {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    margin-bottom: 20px;

    >a {
        line-height: 1;
        font-size: 16px;
    }

    .link-page {
        align-self: center;
        color: $text-color;
        border: 1px solid transparent;
        border-radius: 2px;
        display: block;
        padding: 3px 6px;
        min-width: 28px;
        cursor: pointer;

        &.active {
            border-color: #cecccc;
            color: $primary-color;
            cursor: default;
        }

        &:hover {
            color: $second-color;
            text-decoration: none;
        }
    }

    &__prev,
    &__next {
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $primary-color;
        padding: 0;
        border: none;

        span {
            display: inline-block;
            border: 2px solid $primary-color;
            border-radius: 50%;
            font-size: 13px;
            width: 21px;
            height: 21px;
            padding: 2px 0 0;
        }

        &:hover {
            text-decoration: none;
            background: none;
            color: $second-color;

            span {
                border-color: $second-color;
            }
        }
    }

    &__prev {
        margin-right: 15px;

        span {
            margin-right: 10px;
        }
    }

    &__next {
        margin-left: 15px;

        span {
            margin-left: 10px;
        }
    }

    >.pagination__count {
        border: none;
        margin-right: 45px;
    }
}

@media screen and (max-width: $tablet) {
    .pagination {
        flex-wrap: wrap;

        .pagination__count {
            flex: 0 0 100%;
            margin: 0 0 10px 0;
            padding: 0;
        }

        .pagination__prev {
            margin-right: 15px;
        }

        .pagination__next {
            margin-left: 15px;
        }

        a,
        span {
            font-size: 13px;
            padding: 7px 12px;
        }
    }
}