.prices {
    color: $text-color;

    .price-value {
        white-space: nowrap;

        strong {
            font-size: 17px;
        }

        &-old {
            color: $color-grey;
        }
    }
}