.prices {
    color: $text-color;

    .price-value {
        white-space: nowrap;

        strong {
            font-size: 17px;
        }

        &-old {
            color: $color-grey;
        }
    }
}

@media screen and (max-width: $mobile) {
    .prices {

        .price-value {

            span {
                display: none;
            }
        }
    }
}