.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;

    .product-item {
        flex: 0 0 calc(25% - 12px);
        border: 1px solid #eaebec;
        background: #fff;
        margin: 0 6px 12px 6px;
        font-size: 12px;

        &__image {
            position: relative;
            height: 200px;
            margin-bottom: 10px;

            .stickers {
                position: absolute;
                top: 6px;
                left: 0;
                font-weight: bold;
                color: #fff;

                >div {
                    margin-bottom: 6px;

                    span {
                        display: inline-block;
                        padding: 5px 10px;
                        position: relative;

                        &:after,
                        &:before {
                            content: "";
                            width: 0;
                            height: 0;
                            border-style: solid;
                            position: absolute;
                            right: -6px;
                        }

                        &:before {
                            border-width: 12px 6px 0 0;
                            top: 0;
                        }

                        &:after {
                            border-width: 12px 0 0 6px;
                            bottom: 0;
                        }

                        &.sticker_hit {
                            background: #8d2ca9;

                            &:before {
                                border-color: #8d2ca9 transparent transparent transparent;
                            }

                            &:after {
                                border-color: transparent transparent transparent #8d2ca9;
                            }
                        }

                        &.sticker_recommend {
                            background: #197ccf;

                            &:before {
                                border-color: #197ccf transparent transparent transparent;
                            }

                            &:after {
                                border-color: transparent transparent transparent #197ccf;
                            }
                        }
                    }
                }
            }

            .discont {
                position: absolute;
                bottom: 20px;
                left: 5px;
                background: #e20c0c;
                border-radius: 2px;
                padding: 5px 10px;
                font-weight: bold;
                color: #fff;
            }

            .btn-quick-show {
                background: rgba(#9c9696, .8);
                border-radius: 2px;
                padding: 5px 15px;
                width: 180px;
                margin: 0 auto;
                text-align: center;
                position: absolute;
                left: 50%;
                top: 50%;
                margin: -16px 0 0 -90px;
                cursor: pointer;

                &:hover {
                    background: #9c9696;
                }
            }

            .batons {
                position: absolute;
                top: 6px;
                right: 6px;
                width: 20px;

                >a {
                    display: block;
                    padding: 4px 0px;
                    text-align: center;
                    height: 20px;
                    margin-bottom: 5px;
                    border-radius: 2px;
                    cursor: pointer;

                    &:hover {
                        background: #9c9696;
                    }
                }
            }

            .item-images {
                .img-item {
                    a {
                        display: block;
                        text-align: center;

                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }

                &:not(.slick-slider) {
                    .img-item {
                        &:not(:first-of-type) {
                            display: none;
                        }
                    }
                }
            }
        }

        &__title {
            margin: 0 10px 10px 10px;
            font-size: 17px;
            line-height: 1.3;
            height: 45px;
            overflow: hidden;
            text-align: center;

            a {
                display: block;
                color: $second-color;
                font-weight: bold;
                text-decoration: none;
            }
        }

        &:hover {
            border-color: #fff;
            box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        }

    }
}