.input-counter {
    color: #010101;
    font-size: 14px;
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    border: 1px solid $border-color;
    border-radius: 1px;

    .btn {
        padding: 0;
        font-size: 16px;
        font-weight: bold;
        line-height: 36px;
        border-radius: 0;
        width: 35px;
        height: 35px;
        text-align: center;
        border: none;
        background: none;
        color: $grey-color;
        outline: none !important;
        box-shadow: none !important;

        &:hover {
            color: #000;
        }
    }

    .input-group-text {
        display: inline-block;
        background: none;
        padding: 0;
        border-radius: 0;
        border-top: none;
        border-bottom: none;
        width: 64px;
        height: 36px;

        .form-control {
            width: 100%;
            height: 36px;
            background: #f7f7f7;
            font-size: 16px;
            padding: 0;
            display: inline-block;
            border-radius: 0;
            border: none;
            text-align: center;
            outline: none !important;
            box-shadow: none !important;

            &:disabled {
                cursor: default;
            }
        }
    }
}

.prices {
    color: $text-color;

    .price-value {
        white-space: nowrap;

        strong {
            font-size: 17px;
        }

        &-old {
            color: $grey-color;
        }

        &__currency {
            font-size: .6em;
        }
    }
}

.product-options {
    .prop {
        position: relative;
        display: flex;

        .prop-name {
            font-weight: bold;
            flex: 0 0 65px;
            margin-right: 5px;
        }

        .values {
            display: flex;
            flex-wrap: wrap;

            .value {
                cursor: pointer;

                &--active {
                    cursor: default;
                }
            }
        }

        &-color {
            .values {
                align-items: flex-end;

                .value {
                    width: 13px;
                    height: 13px;
                    margin: 0 3px 3px 0;
                    vertical-align: top;
                    border-radius: 50%;
                    border: 1px solid transparent;

                    img {
                        vertical-align: top;
                        width: 100%;
                    }

                    &:hover {
                        opacity: 0.8;

                        img {
                            border-color: darken($text-color, 5%);
                        }
                    }

                    &--active {
                        width: 20px;
                        height: 20px;
                        opacity: 1 !important;

                        img {
                            border-color: #ebeced;
                        }
                    }
                }
            }
        }

        &-size {
            .values {
                .value {
                    margin: 0 3px 3px 0;
                    font-weight: bold;
                    padding: 1px 2px;
                    border-radius: 3px;
                    display: inline-block;

                    &:hover {
                        background: #f1f1f1;
                    }

                    &--active {
                        background: #cdccce !important;
                        cursor: default;
                    }

                    &--disable {
                        color: #b2b2b2;
                        background: none !important;
                    }
                }
            }
        }
    }
}

.product-images {
    position: relative;

    &__preview {
        min-height: 240px;
        text-align: center;
        position: relative;
        background: center center no-repeat;
        padding: 10px;

        >a {
            height: 100% !important;
        }

        >iframe {
            width: 100%;
            height: 240px;
        }

        img {
            height: auto;
            width: auto;
            display: inline-block;
            margin: 0 auto;
            max-height: 220px;
        }

        &.image-preview--loading {
            background: url(../images/ajax-loader.gif) no-repeat center center;
        }

        &.image-preview--init {
            img {
                display: inline-block;
            }
        }

        .MagicZoomPlusHint {
            display: block !important;
        }
    }

    &__list {
        .item {

            a {
                display: flex;
                overflow: hidden;
                margin: 0 2px;
                border: 1px solid $border-color;
                height: 62px;
                align-items: center;
                justify-content: center;

                img {
                    object-fit: contain;
                }
            }

            &:hover {
                a {
                    border-color: #848383;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
                }
            }

            &.current {
                a {
                    border-color: $primary-color;
                }
            }
        }

        &:not(.slick-slider) {
            display: flex;
            overflow: hidden;
            justify-content: center;

            .item {
                flex: 0 0 33.333%;
            }
        }

        &.slick-slider {
            padding: 0 18px;

            .item {
                text-align: center;

                img {
                    display: inline-block;
                    max-width: 100%;
                    max-height: 100%;
                    width: auto;
                    height: auto;
                }
            }

            .slick-arrow {
                position: absolute;
                cursor: pointer;
                top: 50%;
                right: auto;
                margin: -9px 0 0 0;
                padding: 0;
                font-size: 18px;
                line-height: 1;
                color: $text-color;
                text-align: center;

                &.slick-prev {
                    left: 0;
                }

                &.slick-next {
                    right: 0;
                }

                &:hover {
                    color: $second-color;
                }
            }
        }
    }
}

.product-viewed {
    padding: 20px 10px;
    margin: 30px 0 0;
    background: #fff;
}

.product-related {
    padding: 20px 10px;
    background: #fff;
}

@media screen and (max-width: $mobile) {
    .prices {

        .price-value {

            span {
                display: none;
            }
        }
    }
}