.catalog {
    margin-bottom: 45px;

    .catalog__list {
        margin: 0 -5px;
        display: flex;
        flex-wrap: wrap;

        .catalog-item {
            position: relative;
            border: 1px solid #e2e1e1;
            flex: 0 0 calc(25% - 12px);
            margin: 0 6px 12px 6px;

            @include media-breakpoint('lt-md') {
                flex: 0 0 calc(33.333% - 12px);
            }

            @include media-breakpoint('lt-sm') {
                flex: 0 0 calc(50% - 12px);
            }

            >a {
                display: block;
                text-decoration: none;
            }

            &__photo {
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background: no-repeat center 0;
                background-size: cover;
                height: 230px;

                img {
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                }

                span {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin: -17px 0 0 -80px;
                    width: 160px;
                    padding: 8px 10px;
                    font-size: 14px;
                    color: $text-color;
                    background: rgba(219, 219, 219, 0.85);
                    border-radius: 2px;
                    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
                    visibility: hidden;
                    opacity: 0;
                    transform: scale(0.3);
                    transition: 0.2s ease;

                    @include media-breakpoint('lt-md') {
                        margin: -17px 0 0 -80px;
                        padding: 8px 10px;
                        width: 160px;
                        font-size: 14px;
                    }

                    &:hover {
                        background: darken(#fff, 5%);
                    }
                }
            }

            &__name {
                text-align: center;
                position: relative;

                &:hover {
                    .item-name {
                        &__title {
                            color: $second-color;
                            text-decoration: none;
                        }

                        &__desc {
                            transform: translateY(0);
                            visibility: visible;
                        }
                    }
                }

                .item-name {
                    @include media-breakpoint('lt-sm') {
                        margin-top: -95px;
                    }

                    &__title {
                        font-size: 18px;
                        line-height: 1.2;
                        font-weight: bold;
                        margin: 15px 10px;
                        background: rgba(255, 255, 255, 0.6);
                        color: $text-color;
                        min-height: 44px;

                        @include media-breakpoint('lt-md') {
                            font-size: 16px;
                        }
                    }

                    &__text {
                        background: #fff;
                        padding: 10px 10px;
                        color: $text-color;
                        position: absolute;
                        bottom: 100%;
                        line-height: 1.4;
                        visibility: hidden;
                        transition: transform 0.3s ease;
                        transform: translateY(5px);
                    }
                }
            }

            &__content {
                border-top: 1px solid #e2e1e1;
                padding: 10px 0 0;
                margin: 0 15px;

                .cat-list {
                    list-style: none;
                    padding: 0;
                    margin: 0;

                    li {
                        position: relative;
                        padding: 0 0 0 10px;
                        margin: 0 0 12px 0;
                        line-height: 1.2;

                        a {
                            display: inline-block;
                            color: $text-color;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                                color: $second-color;
                            }
                        }

                        &:before {
                            content: "";
                            display: block;
                            width: 4px;
                            height: 4px;
                            background: $primary-color;
                            border-radius: 1px;
                            position: absolute;
                            top: 6px;
                            left: 0;
                        }
                    }
                }

                .post {
                    text-align: center;
                    margin: 0;

                    p {
                        margin: 0;
                    }
                }
            }

            &__show-more {
                padding: 10px 0 0;
                height: 30px;

                a {
                    text-decoration: underline;
                    position: relative;
                    padding: 0 15px 0 0;
                    color: $primary-color;

                    i {
                        position: absolute;
                        right: 0;
                        top: 5px;
                        transition: .3s;
                    }

                    &:hover {
                        color: $second-color;
                        text-decoration: none;
                    }

                    &:not(.collapsed) {
                        i {
                            transform: rotate(180deg);
                        }
                    }
                }
            }

            &__stick {
                position: absolute;
                top: 8px;
                left: 0;
                height: 25px;
                text-align: center;
                padding: 5px 10px 5px 40px;
                font-size: 13px;
                line-height: 1.1;
                font-weight: bold;
                border: 1px solid #e5e5e5;
                border-radius: 0 8px 8px 0;
                color: $second-color;
                background: #fff;

                &-num {
                    color: #fff;
                    background: $second-color;
                    border-radius: 0 8px 8px 0;
                    height: 25px;
                    width: 35px;
                    padding: 5px;
                    position: absolute;
                    left: -1px;
                    top: -1px;
                }

                &-novelty {
                    color: $primary-color;

                    .catalog-item__stick-num {
                        background: $primary-color;
                    }
                }
            }

            &-inner {
                min-height: 369px;
                height: 369px;
                border: none;

                &__wrap {
                    transition: .3s;
                    background: #fff;
                    border: 1px solid #e2e1e1;
                    padding-bottom: 15px;
                    position: relative;

                    >a {
                        display: block;
                        text-decoration: none;
                    }

                    .catalog-item {
                        &__photo {
                            height: 160px;
                        }

                        &__name {
                            .item-name {
                                &__title {
                                    min-height: 45px;
                                    height: 45px;
                                    overflow: hidden;
                                }
                            }
                        }

                        &__content {
                            min-height: 117px;
                            height: 117px;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }
                    }
                }
            }

            &-sale {
                border: none;
                background: #fff;
                display: flex;

                &__wrap {
                    border: 1px solid #e2e1e1;
                    display: flex;

                    a {
                        display: flex;
                        align-items: center;

                        img {
                            width: 100%;
                            height: auto;
                            object-fit: contain;
                        }
                    }
                }
            }

            &:hover {
                z-index: 10;

                span {
                    visibility: visible;
                    opacity: 1;
                    transform: scale(1);
                }

                .catalog-item {
                    &-inner {
                        &__wrap {
                            height: auto;
                            box-shadow: 0 0 12px 0 rgba(0, 0, 0, .2);
                        }
                    }

                    &__name {
                        .item-name {
                            &__title {
                                height: auto;
                            }
                        }
                    }

                    &__content {
                        height: auto;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $small-mobile) {
    .catalog {
        .catalog__list {
            margin: 0;

            .catalog__item {
                width: 100%;
                margin: -1px 0 0 0;

                &:not(.slick-slide) {
                    float: none;
                }
            }
        }
    }
}