<div class="modal fade modal-form modal-callback" id="callback" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                Заказать обратный звонок
                <p>Наш консультант вскоре свяжется с Вами.</p>
                <button class="modal-close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip"
                    title="Закрыть">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <form action="#" class="form-callback form-horizontal">
                    <div class="form-group">
                        <span class="required">*</span> <label class="control-label">Имя</label>
                        <input type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <span class="required">*</span> <label class="control-label">Ваш номер телефона</label>
                        <input type="tel" autocomplete="tel" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">E-mail</label>
                        <input type="email" class="form-control" />
                    </div>
                    <div class="form-group text-center">
                        <label for="rules1234" class="form-checkbox">
                            <input type="checkbox" id="rules1234">
                            <span>Нажимая на кнопку, я принимаю <a href="#">условия соглашения.</a></span>
                        </label>
                    </div>
                    <div class="form-baton text-center">
                        <button class="btn btn-primary">Отправить</button>
                    </div>
                    <div class="form-callback__bottom">
                        <span class="required">*</span> - Обязательно для заполнения.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>