<div class="modal fade modal-preview" id="preview" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="nav-arrows">
        <button class="nav-arrows__left" title="Назад">
          <i class="fas fa-chevron-left"></i>
        </button>
        <button class="nav-arrows__right" title="Вперед">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
      <div class="modal-header">
        Раздвижные коньки PW-135 Orange
        <p>Артикул: 00-00002508</p>
        <button class="modal-close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" title="Закрыть">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="preview product-card product-item">
          <div class="preview__col-image">
            <div class="product-item__stickers preview__stickers">
              <div class="sticker sticker-promo">
                <span>Акция!</span>
              </div>
            </div>
            <div class="product-images">
              <div class="product-images__preview image-preview">
                <a href="images/demo/product_img1-220x240.jpg" class="MagicZoom" id="productPreviewGallery_1">
                  <img src="images/demo/product_img1-220x240.jpg" alt="" />
                </a>
              </div>
              <div class="product-images__list image-list" data-direction="row">
                <div class="item current" data-zoom-size="345">
                  <a data-zoom-id="productPreviewGallery_1" href="images/demo/product_img1-220x240.jpg" data-preview="images/demo/product_img1-220x240.jpg"
                    data-source="image">
                    <img src="images/demo/product_img1-220x240.jpg" alt="" />
                  </a>
                </div>
                <div class="item" data-zoom-size="345">
                  <a data-zoom-id="productPreviewGallery_1" href="images/demo/product_img2-190x190.jpg" data-preview="images/demo/product_img2-190x190.jpg"
                    data-source="image">
                    <img src="images/demo/product_img2-190x190.jpg" alt="" />
                  </a>
                </div>
                <div class="item" data-zoom-size="345">
                  <a data-zoom-id="productPreviewGallery_1" href="images/demo/product_img1-190x190.jpg" data-preview="images/demo/product_img1-190x190.jpg"
                    data-source="image">
                    <img src="images/demo/product_img1-190x190.jpg" alt="" />
                  </a>
                </div>
                <div class="item" data-zoom-size="345">
                  <a data-zoom-id="productPreviewGallery_1" href="images/demo/product_img2-190x190.jpg" data-preview="images/demo/product_img2-190x190.jpg"
                    data-source="image">
                    <img src="images/demo/product_img2-190x190.jpg" alt="" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="preview__col-content">
            <div class="preview-content">
              <div class="preview-content__col-left">
                <div class="product-item__rate">
                  <div class="stars star-4"></div>
                </div>
                <div class="product-item__stock">
                  <a class="in-stock"><i class="fas fa-check"></i> <span>В наличии</span></a>
                  <a class="find-chipper" href="#"><i class="appicon appicon-tag"></i> <span>Нашли
                      дешевле?</span></a>
                </div>
                <div class="preview-content__text">
                  <div class="post">
                    <p>Полумягкие раздвижные коньки PW-135 Orange торговой марки "Alpha Caprice" имеют отличный
                      дизайн. Эта модель коньков сочетает надежность и качество.</p>
                    <p>Полумягкие раздвижные коньки PW-135 Orange торговой марки "Alpha Caprice" имеют отличный
                      дизайн.</p>
                    <div class="post-more">
                      <div class="collapse" id="fullText">
                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                          ad
                          squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                          sapiente ea proident.</p>
                      </div>
                      <a data-toggle="collapse" href="#fullText" role="button" aria-expanded="false"
                        aria-controls="fullText" class="collapsed">
                        Подробнее <i class="fa fa-angle-down"></i>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="preview-content__delivary">
                  <i class="appicon appicon-truck"></i> Доставка по всей России!
                </div>
              </div>
              <div class="preview-content__col-right">
                <div class="prices">
                  <span class="price-value">1590 <span class="price-value__currency">руб./шт</span></span>
                  <del class="price-value price-value-old">1690 <span class="price-value__currency">руб.</span></del>
                </div>
                <div class="product-card__discont">
                  <span>-5%</span>
                  До скидки 5% осталось купить на 3000 р.
                </div>
                <div class="product-card__options product-options">
                  <div class="prop prop-size">
                    <div class="prop-name">Размер:</div>
                    <div class="values">
                      <div class="value value--active">
                        <span>L (39-42)</span>
                      </div>
                      <div class="value value--disable" title="Ждем поступления">
                        <span>M (35-38)</span>
                      </div>
                      <div class="value">
                        <span>S (31-34)</span>
                      </div>
                      <div class="value">
                        <span> XS (27-30)</span>
                      </div>
                    </div>
                  </div>
                  <div class="prop prop-color">
                    <div class="prop-name">Цвет:</div>
                    <div class="values">
                      <div class="value value--active">
                        <img src="images/color_1.png" alt="" />
                      </div>
                      <div class="value">
                        <img src="images/color_2.png" alt="" />
                      </div>
                      <div class="value">
                        <img src="images/color_3.png" alt="" />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-card__cart">
                  <div class="product-item__counter input-counter">
                    <button type="button" class="btn btn-minus btn-number" data-type="minus" data-field="quant[2]">
                      -
                    </button>
                    <div class="input-group-text">
                      <input type="text" name="quant[2]" class="form-control input-number input-area" value="1"
                        data-min="1" data-max="100000" data-step="1" data-unit="">
                    </div>
                    <button type="button" class="btn btn-plus btn-number" data-type="plus" data-field="quant[2]">
                      +
                    </button>
                  </div>
                  <button class="btn btn-primary add-to-cart" title="Положить в корзину">
                    В корзину
                  </button>
                  <button class="btn quick-buy" title="Купить в один клик">
                    Купить в 1 клик
                  </button>
                </div>
                <div class="product-card__advants">
                  <p><b>Гарантия АСЦ:</b> 24 месяца</p>
                </div>
                <div class="preview-content__buttons">
                  <button><i class="appicon appicon-heart"></i> В избранное</button>
                  <button><i class="appicon appicon-compare"></i> Сравнить</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>