<div class="modal fade modal-form" id="modal_quickbuy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Купить в 1 клик
                <button class="modal-close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip"
                    title="Закрыть">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="product__item product-info">
                    <div class="row">
                        <div class="col-sm-4 col-name">
                            <div class="product-info__heading">Вы выбрали:</div>
                            <a href="product.html">Кимоно для карате Golden Scorpion "PKM-1200"</a>
                        </div>
                        <div class="col-sm-4 col-options">
                            <div class="item__product-options">
                                <div class="prop prop-size clearfix">
                                    <div class="name">Размер: </div>
                                    <div class="values">
                                        <div class="value">
                                            <span>s 37</span>
                                        </div>
                                        <div class="value active">
                                            <span>xl 40</span>
                                        </div>
                                        <div class="value">
                                            <span>xxl 45</span>
                                        </div>
                                        <div class="value">
                                            <span>xxxl 47</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="prop prop-color clearfix">
                                    <div class="name">Цвет: </div>
                                    <div class="values">
                                        <div class="value">
                                            <img src="assets/images/color_white.png" alt="" />
                                        </div>
                                        <div class="value active">
                                            <img src="assets/images/color_grey.png" alt="" />
                                        </div>
                                        <div class="value">
                                            <img src="assets/images/color_darkgrey.png" alt="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 col-price">
                            <div class="product-info__heading">Укажите количество:</div>
                            <div class="item__input-counter">
                                <button type="button" class="btn btn-minus btn-number" data-type="minus"
                                    data-field="quant[2]">
                                    -
                                </button>
                                <div class="input-group-text">
                                    <input type="text" name="quant[2]" class="form-control input-number input-area"
                                        value="1" min="1" max="100000" data-step="1" data-unit="">
                                </div>
                                <button type="button" class="btn btn-plus btn-number" data-type="plus"
                                    data-field="quant[2]">
                                    +
                                </button>
                            </div>
                            <div class="item__price">
                                <span class="new">1480</span>
                                <span class="currency">руб.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <form action="" class="form-info">
                    <div class="row form-group">
                        <div class="col-sm-5">
                            <label class="control-label">Имя:</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-5">
                            <label class="control-label">Ваш номер телефона:
                                <span class="req">*</span>
                            </label>
                        </div>
                        <div class="col-sm-7">
                            <input type="tel" class="form-control masked-phone" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-5">
                            <label class="control-label">E-mail:</label>
                        </div>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" />
                        </div>
                    </div>
                    
                    <label for="rules123" class="form-checkbox">
                        <input type="checkbox" id="rules123">
                        <span>Нажимая на кнопку, я принимаю условия соглашения.</span>
                    </label>
                    <button class="btn btn-primary">Отправить</button>
            </div>
            </form>
            <div class="bot">
                <span class="req">*</span> - Обязательно для заполнения. Купить в 1 клик - это не заполнять никакие
                формы, а просто оставить свой номер телефона, чтобы наш консультант решил все вопросы по оформлению
                заказа.
            </div>
        </div>
    </div>
</div>
</div>