<div class="modal fade modal-quickbuy" id="modal_quickbuy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Купить в 1 клик
                <button class="modal-close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip"
                    title="Закрыть">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <div class="quickbuy-form">
                    <div class="quickbuy-form__top">
                        <div class="row">
                            <div class="col-md-8">
                                <a href="product.html">Велосумка на раму с тремя отделениями ВС13-11</a>
                            </div>
                            <div class="col-md-4">
                                <div class="prices">
                                    <div class="price-value price-value-current">
                                        <strong>1590 <span class="price-value__currency">руб./шт</span></strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="quickbuy-form__options props">
                        <div class="props__selected">
                            <div class="prop-item prop-item-size">
                                <strong>Размер:</strong>
                                <span>S (31-34)</span>
                            </div>
                            <div class="prop-item prop-item-color">
                                <strong>Цвет:</strong>
                                <span><img src="images/color_black-red.png" alt="Черно-красный"></span>
                            </div>
                        </div>
                        <div class="props__baton">
                            <button>Изменить</button>
                        </div>
                    </div>
                    <form action="" class="quickbuy-form__form form-horizontal">
                        <div class="form-group">
                            <span class="required">*</span> <label class="control-label">Ф.И.О.</label>
                            <input type="text" class="form-control" />
                        </div>
                        <div class="form-group">
                            <span class="required">*</span> <label class="control-label">Телефон</label>
                            <input type="tel" class="form-control masked-phone" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">E-mail:</label>
                            <input type="email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label class="control-label">Комментарий к заказу</label>
                            <textarea class="form-control"></textarea>
                        </div>
                        <div class="form-group text-center">
                            <label for="rules123" class="form-checkbox">
                                <input type="checkbox" id="rules123">
                                <span>Нажимая на кнопку, я принимаю <a href="#">условия соглашения.</a></span>
                            </label>
                        </div>
                        <div class="form-baton text-center">
                            <button class="btn btn-primary">Отправить</button>
                        </div>
                    </form>
                    <div class="quickbuy-form__bottom">
                        <span class="required">*</span> - Обязательно для заполнения. Купить в 1 клик - это не заполнять
                        никакие
                        формы, а просто оставить свой номер телефона, чтобы наш консультант решил все вопросы по
                        оформлению
                        заказа.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>