<ul class="catalog-navi @@ulClass">
  <li class="has-child">
    <a href="#">Фитнес</a>
    <div class="dropdown">
      <div class="category-col">
        <h2 class="category-col__title">
          <a href="#">Тяжелая атлетика</a>
        </h2>
        <ul>
          <li><a href="#">Тренажеры и тяжелая атлетика</a></li>
          <li><a href="#">Художественная гимнастика и танцы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="has-child">
    <a href="#">Художественная гимнастика и танцы</a>
    <div class="dropdown">
      <div class="category-col">
        <h2 class="category-col__title">
          <a href="#">Тяжелая атлетика</a>
        </h2>
        <ul>
          <li><a href="#">Тренажеры и тяжелая атлетика</a></li>
          <li><a href="#">Художественная гимнастика и танцы</a></li>
        </ul>
      </div>
    </div>
  </li>
  <li class="has-child">
    <a href="#">Тренажеры и тяжелая атлетика</a>
    <div class="dropdown">
      <div class="category-col">
        <h2 class="category-col__title">
          <a href="#">Тяжелая атлетика</a>
        </h2>
        <ul>
          <li>
            <a href="#">Гантели разборные <span>(15)</span></a>
          </li>
          <li>
            <a href="#">Гири <span>(5)</span></a>
          </li>
          <li>
            <a href="#">Грифы для гантелей и штанг <span>(100)</span></a>
          </li>
          <li>
            <a href="#">Диски для гантелей и штанг <span>(18)</span></a>
          </li>
          <li>
            <a href="#">Перчатки для тяжелой атлетики и велоспорта
              <span>(19)</span></a>
          </li>
          <li>
            <a href="#">Пояса для поднятия тяжестей <span>(17)</span></a>
          </li>
          <li>
            <a href="#">Стойки для гантелей и штанг <span>(100)</span></a>
          </li>
          <li>
            <a href="#">Скамьи <span>(1000)</span></a>
          </li>
          <li>
            <a href="#">Аксессуары <span>(10)</span></a>
          </li>
        </ul>
      </div>
      <div class="category-col">
        <h2 class="category-col__title">
          <a href="#">Домашние тренажеры</a>
        </h2>
        <ul>
          <li>
            <a href="#">Беговые дорожки <span>(105)</span></a>
          </li>
          <li>
            <a href="#">Велотренажеры <span>(165)</span></a>
          </li>
          <li class="has-child">
            <a href="#">Степперы, Эллипсоиды <span>(155)</span></a>
            <ul>
              <li>
                <a href="#">Степперы с эспандерами <span>(25)</span></a>
              </li>
              <li>
                <a href="#">Мини степперы <span>(15)</span></a>
              </li>
              <li>
                <a href="#">Профессиональные степперы <span>(20)</span></a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li><a href="#">Туризм и активный отдых</a></li>
  <li><a href="#">Зимние виды спорта и активный отдых</a></li>
  <li><a href="#">Единоборства и бокс</a></li>
  <li><a href="#">Командные виды спорта</a></li>
  <li><a href="#">Летние виды спорта</a></li>
  <li><a href="#">Водные виды спорта</a></li>
  <li><a href="#">Игры</a></li>
</ul>