<div class="filters">
  <div class="filters__top">
    Выбрано 8 товаров
  </div>
  <div class="filters__body">
    <div class="filter filter-list">
      <div class="filter__top">Разделы товаров</div>
      <div class="filter__body">
        <ul class="filter-list__list">
          <li class="active">
            <a href="#">Коньки <span>(5)</span></a>
          </li>
          <li>
            <a href="#"> Роликовые коньки <span>(5)</span></a>
          </li>
          <li>
            <a href="#">Раздвижные коньки <span>(5)</span></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="filter filter-slider filter-collapsable">
      <div class="filter__top" data-toggle="collapse" data-target=".filter1" aria-expanded="true">
        Цена
      </div>
      <div class="filter__body filter1 collapse show">
        <div class="filter-slider__slider">
          <div class="slider-inputs">
            <input type="text" class="form-control input-number-min" value="480" />
            <input type="text" class="form-control input-number-max" value="15000" />
          </div>
          <div class="slider-range" data-min-value="0" data-max-value="15000"></div>
        </div>
      </div>
    </div>
    <div id="filterBrand" class="filter filter-list filter-collapsable">
      <div class="filter__top" data-toggle="collapse" data-target=".filter2" aria-expanded="true">Бренд</div>
      <div class="filter__body filter2 collapse show">
        <div class="filter-alphabet">
          <div class="filter__show-more"><a href="#" data-toggle="collapse" data-target="#filterAlphabet"
              aria-expanded="true">Алфавитный
              указатель <i class="fa fa-angle-down"></i></a></div>
          <div id="filterAlphabet" class="filter-alphabet__list collapse show" data-parent="#filterBrand">
            <a href="#">A</a>
            <a href="#">B</a>
            <a href="#">C</a>
            <a href="#">D</a>
            <a href="#">E</a>
            <a href="#">F</a>
            <a href="#">G</a>
            <a href="#">H</a>
            <a href="#">I</a>
            <a href="#">J</a>
            <a href="#">K</a>
            <a href="#">L</a>
            <a href="#">M</a>
            <a href="#">N</a>
            <a href="#">O</a>
            <a href="#">P</a>
            <a href="#">Q</a>
            <a href="#">R</a>
            <a href="#">T</a>
            <a href="#">U</a>
            <a href="#">V</a>
          </div>
        </div>
        <ul class="filter-list__list">
          <li class="active">
            <a href="#">POINTER <span>(5)</span></a>
          </li>
          <li>
            <a href="#"> Freedo <span>(5)</span></a>
          </li>
          <li>
            <a href="#">TRIAL <span>(5)</span></a>
            <div class="filter-hint">
              <span>Выбрано 8</span>
              <a href="#">Показать</a>
            </div>
          </li>
          <li>
            <a href="#">POINTER <span>(5)</span></a>
          </li>
          <li>
            <a href="#"> Freedo <span>(5)</span></a>
          </li>
          <li>
            <a href="#">TRIAL <span>(5)</span></a>
          </li>
        </ul>
        <ul class="filter-list__list filter__list2 collapse" data-parent="#filterBrand">
          <li>
            <a href="#">120 см (2)</a>
          </li>
          <li>
            <a href="#">130 см (3)</a>
          </li>
          <li>
            <a href="#">140 см (2)</a>
          </li>
          <li>
            <a href="#">150 см (5)</a>
          </li>
          <li>
            <a href="#">160 см (5)</a>
          </li>
        </ul>
        <div class="filter__show-more">
          <a href="#" class="collapsed" data-toggle="collapse" data-target=".filter__list2" aria-expanded="false">
            Ещё (7)
            <i class="fa fa-angle-down"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="filter filter-grid filter-collapsable">
      <div class="filter__top" data-toggle="collapse" data-target=".filter3" aria-expanded="true">Размер
        <span>(22)</span></div>
      <div class="filter__body filter3 collapse show">
        <div class="filter-grid__search-form">
          <input type="text" placeholder="Поиск" class="form-control">
        </div>
        <div class="filter-grid__list">
          <a href="#">28</a>
          <a href="#">29</a>
          <a href="#" class="active">30</a>
          <a href="#">28</a>
          <a href="#">29</a>
          <a href="#">30</a>
          <a href="#">28</a>
          <a href="#">29</a>
          <a href="#">30</a>
          <a href="#">28</a>
          <a href="#">29</a>
          <a href="#">30</a>
          <a href="#">28</a>
          <a href="#">29</a>
          <a href="#">30</a>
          <a href="#">28</a>
          <a href="#">29</a>
          <a href="#">30</a>
          <a href="#">28</a>
          <a href="#">29</a>
          <a href="#">30</a>
          <a href="#">28</a>
          <a href="#">29</a>
          <a href="#">30</a>
        </div>
      </div>
    </div>
    <div class="filter filter-list filter-collapsable">
      <div class="filter__top" data-toggle="collapse" data-target=".filter4" aria-expanded="true">Пол</div>
      <div class="filter__body filter4 collapse show">
        <ul class="filter-list__list">
          <li class="active">
            <a href="#">Мужчинам</a>
          </li>
          <li>
            <a href="#">Женщинам</a>
          </li>
          <li>
            <a href="#">Детям</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="filter filter-list">
      <div class="filter__body">
        <ul class="filter-list__list">
          <li class="active">
            <a href="#">В наличии</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="filter filter-list filter-collapsable">
      <div class="filter__top collapsed" data-toggle="collapse" data-target=".filter5" aria-expanded="true">
        Предназначение</div>
      <div class="filter__body filter5 collapse">
        <ul class="filter-list__list">
          <li>
            <a href="#">Демо 1</a>
          </li>
          <li>
            <a href="#">Демо 2</a>
          </li>
          <li>
            <a href="#">Демо 3</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="filter filter-list filter-collapsable">
      <div class="filter__top collapsed" data-toggle="collapse" data-target=".filter6" aria-expanded="true">
        Страна производитель</div>
      <div class="filter__body filter6 collapse">
        <ul class="filter-list__list">
          <li>
            <a href="#">Демо 1</a>
          </li>
          <li>
            <a href="#">Демо 2</a>
          </li>
          <li>
            <a href="#">Демо 3</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="filters__buttons">
      <button class="btn btn-primary">Показать</button>
      <a href="#"><i>&times;</i> Сбросить</a>
    </div>
  </div>
</div>