<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="row">
                    <div class="col-md-4 col-lg-6">
                        <div class="head">Покупателю</div>
                        <ul class="navi">
                            <li>
                                <a href="#">Доставка и оплата</a>
                            </li>
                            <li>
                                <a href="#">Гарантия и возврат</a>
                            </li>
                            <li>
                                <a href="#">Часто задаваемые вопросы</a>
                            </li>
                            <li>
                                <a href="#">Обратная связь</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="head">Интернет магазин</div>
                        <ul class="navi">
                            <li>
                                <a href="#">О нас</a>
                            </li>
                            <li>
                                <a href="#">Отзывы покупателей</a>
                            </li>
                            <li>
                                <a href="#">Новости</a>
                            </li>
                            <li>
                                <a href="#">Статьи</a>
                            </li>
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="head">Контакты</div>
                <div class="footer__contacts">
                    <div class="tel">
                        <div class="tel__item">
                            <a href="tel:84952151207" data-toggle="tooltip" title="Позвонить в магазин">
                                <span>8 (495)</span> 215-12-07</a>
                            <span>для абонентов из Москвы</span>
                        </div>
                        <div class="tel__item">
                            <a href="tel:88005552082" data-toggle="tooltip" title="Позвонить в магазин">
                                <span>8 (800)</span> 555-20-82</a>
                            <span>для абонентов из регионов</span>
                        </div>
                    </div>
                    <p>E-mail для вопросов и предложений:
                        <a href="mailto:info@sport07.ru">info@sport07.ru</a>
                    </p>
                    <div class="schedule">
                        <div class="schedule__item">
                            <i class="appicon appicon-grafik"></i>
                            Пн-Пт 8:00-20:00
                            <br /> Сб 10:00-14:00, Вс - выходной
                        </div>
                    </div>
                    <div class="socials">
                        <span>Мы в социальных сетях</span>
                        <a href="#"><i class="appicon appicon-instagram"></i></a>
                        <a href="#"><i class="appicon appicon-vk"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7">
                <div class="row row-dop">
                    <div class="col-md-4 col-lg-6">
                        <div class="head">Способы оплаты</div>
                        <div class="payemts-list">
                            <a href="#">
                                <img src="images/payment1.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="images/payment2.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="images/payment3.png" alt="" />
                            </a>
                            <a href="#">
                                <img src="images/payment4.png" alt="" />
                            </a>
                            <p>
                                <a href="#" class="link-all">Посмотреть все способы</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <div class="yandex-review">
                            <img src="images/yandex_market.png" alt="" />
                            <p>
                                <a href="#" class="link-all">Оценить нас на Я.Маркете</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="copyright">
                    <p>© Интернет-магазин спортивных товаров и инвентаря, 2016 г.</p>
                    Сегодня наш сайт посмотрели
                    <img src="images/demo/stat.png" alt="" /> посетителей.
                </div>
            </div>
        </div>
    </div>
</footer>

<a id="scroll-top"><i class="fas fa-long-arrow-alt-up"></i>
    Наверх</a>

<div class="modal fade modal-form modal-callback" id="callback" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="panel-sport">
                    <div class="modal-header">
                        Заказать обратный звонок
                        <p>Наш консультант вскоре свяжется с Вами.</p>
                    </div>
                    <form action="#" class="form-callback form-horizontal">
                        <div class="form-callback__top">
                            Введите Ваши данные:
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label class="control-label">Имя:</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label class="control-label">Ваш номер телефона:</label>
                                        <span class="req">*</span>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="tel" autocomplete="tel" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-5">
                                        <label class="control-label">E-mail:</label>
                                    </div>
                                    <div class="col-sm-7">
                                        <input type="email" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-bot">
                                    <button class="btn" data-dismiss="modal" data-toggle="modal"
                                        data-target="#alert_callback">Отправить</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="checkbox">
                                    <input id="rules" type="checkbox">
                                    <label for="rules" class="txt">Я
                                        <a href="#">ознакомлен (а)</a> и даю своё согласие на обработку персональных
                                        данных.*</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-info">
                            <span class="req">*</span> - Обязательно для заполнения.</div>
                    </form>
                    <button class="panel-sport__close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip"
                        title="Закрыть">
                        <span>
                            <i class="fa fa-angle-left"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@@include('../includes/preview.html')

<script type="text/javascript" src="js/libs.min.js"></script>
<script type="text/javascript" src="js/default.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/shop.js"></script>

</body>

</html>