<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p><a class="logo" href="#">Sport07</a></p>
            </div>
            
        </div>
        <div class="footer-bottom">
            <span> © Все права защищены, 2019 г.</span>
        </div>
    </div>
</footer>

<a id="scroll-top"><i class="fas fa-angle-up"></i>
    Наверх</a>

<script type="text/javascript" src="js/libs.min.js"></script>
<script type="text/javascript" src="js/default.js"></script>
<script type="text/javascript" src="js/index.js"></script>

</body>

</html>