<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <title>@@title | Sport07</title>
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="@@bodyClass">
    <header id="header">
        <div class="container">
            <div class="header">
                <div class="header__top">
                    <div class="header-region">
                        <i class="appicon appicon-map"></i>
                        <span>Москва</span>
                    </div>
                    <div class="header-contacts">
                        <i class="appicon appicon-phone"></i>
                        <a href="tel:84952151207"> 8 (495) <strong>215-12-07</strong></a>
                        <a href="tel:88005552082"> 8 (800) <strong>555-20-82</strong></a>
                        <span>(Пн-Пт 9:00-18:00, Сб, Вск - вых.)</span>
                        <button class="btn" type="button" data-dismiss="modal" data-toggle="modal"
                            data-target="#callback">заказать
                            звонок</button>
                    </div>
                    <div class="header-account">
                        <a href="#">
                            <i class="appicon appicon-user"></i>
                            <span>Личный кабинет</span>
                        </a>
                    </div>
                </div>
                <div class="header__main">
                    <a href="#" class="logo">
                        <img src="images/logo.png" alt="Sport07">
                        <span>Интернет магазин спортивных товаров</span>
                    </a>
                    <div class="header-search">
                        <button class="header-search__toggle search-toggle"><i
                                class="appicon appicon-search"></i></button>
                        <div class="header-search__input search-input">
                            <form action="#">
                                <div class="form-input">
                                    <input id="title-searchs-input" type="text"
                                        placeholder="Поиск среди 6000 спортивных товаров" name="q" value="" size="40"
                                        class="form-control" maxlength="100" autocomplete="off">
                                    <input name="s" type="submit" value="Поиск" class="btn appicon appicon-search">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="header-links">
                        <a href="#" class="link"><i class="appicon appicon-compare"></i> Сравнение <span>3</span></a>
                        <a href="#" class="link link-fav"><i class="appicon appicon-heart"></i> Избранное
                            <span>300</span></a>
                        <a href="#" class="link link-cart"><i class="appicon appicon-cart"></i> Корзина
                            <span>30</span></a>
                    </div>
                </div>
                <div class="navi">
                    <nav>
                        <div class="catalog-menu">
                            <ul class="menu">
                                <li class="has-child">
                                    <a href="#">
                                        <i class="appicon appicon-list"></i>
                                        <span>Каталог <i class="fa fa-angle-down"></i></span>
                                    </a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#">Новости</a>
                                        </li>
                                        <li>
                                            <a href="#">Сотрудники</a>
                                        </li>
                                        <li>
                                            <a href="#">Вакансии</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="main-menu">
                            <ul class="menu">
                                <li>
                                    <a href="#">Акции</a>
                                </li>
                                <li>
                                    <a href="#">Доставка и оплата</a>
                                </li>
                                <li>
                                    <a href="#">Бренды</a>
                                </li>
                                <li>
                                    <a href="#">Магазины</a>
                                </li>
                                <li class="has-child">
                                    <a href="#">О компании</a>
                                    <ul class="dropdown">
                                        <li>
                                            <a href="#">Новости</a>
                                        </li>
                                        <li>
                                            <a href="#">Сотрудники</a>
                                        </li>
                                        <li>
                                            <a href="#">Вакансии</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>