<div class="modal fade modal-preview" id="preview" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="panel-sport">
          <div class="modal-header">
            Раздвижные коньки PW-135 Orange
            <p>Артикул: 00-00002508</p>
            <button class="panel-sport__close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip"
              title="Закрыть">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <div class="product-preview">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>