<div class="modal fade modal-preview" id="preview" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Раздвижные коньки PW-135 Orange
        <p>Артикул: 00-00002508</p>
        <button class="modal-close" data-dismiss="modal" aria-hidden="true" data-toggle="tooltip" title="Закрыть">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="panel-sport">
          <div class="modal-body">
            <div class="product-preview">
              <div class="row">
                <div class="col-md-4">
                  <div class="preview-images">
                    images
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="preview-content">
                    <div class="row">
                      <div class="col-lg-6">
                        <div class="product-item__rate">
                          <div class="stars star-4"></div>
                        </div>
                        <div class="preview-avaliable">
                          <div class="product-item__stock">
                            <span class="in-stock">
                              <i class="fas fa-check"></i>
                              В наличии
                            </span>
                          </div>
                          <a href="#"><i class="appicon appicon-tag"></i> Нашли дешевле?</a>
                        </div>
                        <div class="post">
                          <p>Полумягкие раздвижные коньки PW-135 Orange торговой марки "Alpha Caprice" имеют отличный
                            дизайн. Эта модель коньков сочетает надежность и качество.</p>
                          <p>Полумягкие раздвижные коньки PW-135 Orange торговой марки "Alpha Caprice" имеют отличный
                            дизайн.</p>
                          <div class="post-more">
                            <div class="collapse" id="fullText">
                              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                ad
                                squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
                                sapiente ea proident.</p>
                            </div>
                            <a data-toggle="collapse" href="#fullText" role="button" aria-expanded="false"
                              aria-controls="fullText">
                              Подробнее <i class="fa fa-angle-down"></i>
                            </a>
                          </div>
                        </div>
                        <div class="preview-delivary"><i class="appicon appicon-truck"></i> Доставка по всей России!
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="item__price">
                          <span class="new">1590 руб./шт</span>
                          <del>1690 руб.</del>
                        </div>
                        <div class="advants">
                          <span>-5%</span>
                          До скидки 5% осталось купить на 3000 р.
                        </div>
                        <div class="counter">
                          <div class="item__input-counter">
                            <button type="button" class="btn btn-minus btn-number" data-type="minus"
                              data-field="quant[2]">
                              -
                            </button>
                            <div class="input-group-text">
                              <input type="text" name="quant[2]" class="form-control input-number input-area" value="1"
                                min="1" max="100000" data-step="1" data-unit="">
                            </div>
                            <button type="button" class="btn btn-plus btn-number" data-type="plus"
                              data-field="quant[2]">
                              +
                            </button>
                          </div>
                          <button class="btn btn-add-to-cart" title="Положить в корзину">
                            В корзину
                          </button>
                        </div>
                        <div class="item__buttons">
                          <button class="btn btn-quick-buy" title="Купить в один клик">
                            Купить в 1 клик
                          </button>
                        </div>
                        <div class="item__dop">
                          <b>Гарантия АСЦ:</b> 24 месяца
                        </div>

                        <div class="item__bottom">
                          <button><i class="appicon appicon-heart"></i> В избранное</button>
                          <button><i class="appicion appicon-compare"></i> Сравнить</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>