<section class="product-related product-carousel">
    <div class="section-title">Похожие товары</div>
    <div class="product-related__list product-carousel__list" data-show-items="6">
        <div class="product-item product-mini">
            <div class="product-mini__image">
                <a href="#"><img src="images/demo/product_img1-190x190.jpg" alt=""></a>
                <div class="product-item__quick-show">
                    <a class="btn-quick-show"><i class="fa fa-search"></i> Быстрый просмотр</a>
                </div>
                <div class="product-item__tools">
                    <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                    <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
                </div>
            </div>
            <div class="product-mini__title">
                <a href="#">Кимоно для дзюдо “CAPRICE”</a>
            </div>
            <div class="product-mini__price prices">
                <div class="price-value price-value-current">
                    <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                    <del>1690 руб.</del>
                </div>
            </div>
            <div class="product-item__buttons">
                <button class="btn btn-primary add-to-cart">Купить</button>
            </div>
        </div>
        <div class="product-item product-item--in-cart product-mini">
            <div class="product-mini__image">
                <a href="#"><img src="images/demo/product_img3-190x190.jpg" alt=""></a>
                <div class="product-item__quick-show">
                    <a class="btn-quick-show"><i class="fa fa-search"></i> Быстрый просмотр</a>
                </div>
                <div class="product-item__discont">
                    <span>-10%</span>
                </div>
                <div class="product-item__tools">
                    <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                    <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
                </div>
            </div>
            <div class="product-item__stickers">
                <div class="sticker sticker-hit">
                    <span>Хит</span>
                </div>
                <div class="sticker sticker-promo">
                    <span>Акция!</span>
                </div>
            </div>
            <div class="product-mini__title">
                <a href="#">Самбовки</a>
            </div>
            <div class="product-mini__price prices">
                <div class="price-value price-value-current">
                    <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                    <del>1690 руб.</del>
                </div>
            </div>
            <div class="product-item__buttons">
                <button class="btn btn-primary add-to-cart">В корзине</button>
            </div>
        </div>
        <div class="product-item product-mini">
            <div class="product-mini__image">
                <a href="#"><img src="images/demo/product_img2-190x190.jpg" alt=""></a>
                <div class="product-item__quick-show">
                    <a class="btn-quick-show"><i class="fa fa-search"></i> Быстрый просмотр</a>
                </div>
                <div class="product-item__discont">
                    <span>-10%</span>
                </div>
                <div class="product-item__tools">
                    <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                    <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
                </div>
            </div>
            <div class="product-item__stickers">
                <div class="sticker sticker-promo">
                    <span>Акция!</span>
                </div>
            </div>
            <div class="product-mini__title">
                <a href="#">Кимоно для дзюдо “CAPRICE” Кимоно для дзюдо</a>
            </div>
            <div class="product-mini__price prices">
                <div class="price-value price-value-current">
                    <strong>1590 руб./шт</strong>
                </div>
            </div>
            <div class="product-item__buttons">
                <button class="btn btn-primary add-to-cart">Купить</button>
            </div>
        </div>
        <div class="product-item product-mini">
            <div class="product-mini__image">
                <a href="#"><img src="images/demo/category_img6-225x215.jpg" alt=""></a>
                <div class="product-item__quick-show">
                    <a class="btn-quick-show"><i class="fa fa-search"></i> Быстрый просмотр</a>
                </div>
                <div class="product-item__tools">
                    <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                    <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
                </div>
            </div>
            <div class="product-mini__title">
                <a href="#">Кимоно для дзюдо “CAPRICE”</a>
            </div>
            <div class="product-mini__price prices">
                <div class="price-value price-value-current">
                    <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                    <del>1690 руб.</del>
                </div>
            </div>
            <div class="product-item__buttons">
                <button class="btn btn-primary add-to-cart">Купить</button>
            </div>
        </div>
        <div class="product-item product-mini">
            <div class="product-mini__image">
                <a href="#"><img src="images/demo/product_img1-220x240.jpg" alt=""></a>
                <div class="product-item__quick-show">
                    <a class="btn-quick-show"><i class="fa fa-search"></i> Быстрый просмотр</a>
                </div>
                <div class="product-item__tools">
                    <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                    <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
                </div>
            </div>
            <div class="product-mini__title">
                <a href="#">Кимоно для дзюдо “CAPRICE”</a>
            </div>
            <div class="product-mini__price prices">
                <div class="price-value price-value-current">
                    <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                    <del>1690 руб.</del>
                </div>
            </div>
            <div class="product-item__buttons">
                <button class="btn btn-primary add-to-cart">Купить</button>
            </div>
        </div>
        <div class="product-item product-mini">
            <div class="product-mini__image">
                <a href="#"><img src="images/demo/product_img1-190x190.jpg" alt=""></a>
                <div class="product-item__quick-show">
                    <a class="btn-quick-show"><i class="fa fa-search"></i> Быстрый просмотр</a>
                </div>
                <div class="product-item__tools">
                    <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                    <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
                </div>
            </div>
            <div class="product-mini__title">
                <a href="#">Кимоно для дзюдо “CAPRICE”</a>
            </div>
            <div class="product-mini__price prices">
                <div class="price-value price-value-current">
                    <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                    <del>1690 руб.</del>
                </div>
            </div>
            <div class="product-item__buttons">
                <button class="btn btn-primary add-to-cart">Купить</button>
            </div>
        </div>
        <div class="product-item product-mini">
            <div class="product-mini__image">
                <a href="#"><img src="images/demo/product_img1-190x190.jpg" alt=""></a>
                <div class="product-item__quick-show">
                    <a class="btn-quick-show"><i class="fa fa-search"></i> Быстрый просмотр</a>
                </div>
                <div class="product-item__tools">
                    <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                    <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
                </div>
            </div>
            <div class="product-mini__title">
                <a href="#">Кимоно для дзюдо “CAPRICE”</a>
            </div>
            <div class="product-mini__price prices">
                <div class="price-value price-value-current">
                    <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                    <del>1690 руб.</del>
                </div>
            </div>
            <div class="product-item__buttons">
                <button class="btn btn-primary add-to-cart">Купить</button>
            </div>
        </div>
    </div>
</section>