.cart-header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;

    .page-heading {
        margin: 0;
    }

    >a {
        display: inline-block;
        padding: 10px 15px;
        border: 1px solid #d7d7d7;
        border-radius: 3px;
        color: $text-color;

        i {
            opacity: 0.6;
            margin-right: 14px;
        }

        &:hover {
            text-decoration: none;
            color: $second-color;
        }
    }
}

.cart {
    display: grid;
    grid-template-columns: 1fr;

    @include media-breakpoint('lt-md') {
        display: block;
    }

    &-row {
        display: grid;
        grid-template-columns: 4.5fr repeat(3, 1fr);
        grid-gap: 5px;

        @include media-breakpoint('lt-md') {
            display: block;
        }
    }

    &-filter {
        align-items: center;
        padding: 10px;
        background: #f9f9f9;
        border: 1px solid #eaebec;

        @include media-breakpoint('lt-md') {

            >div,
            >span {
                margin: 0 0 15px 0;
                display: block;
                text-align: center;
            }
        }

        &__sorting {
            &.dropdown {
                max-width: 230px;
                background: #fff;

                @include media-breakpoint('lt-md') {
                    max-width: 100%;
                }
            }
        }

        span {
            font-size: 17px;
            line-height: 1;
            text-align: center;
        }

        &__stock {
            color: #ef8808;
        }

        &__clear {
            a {
                background: #fff;
                border: 1px solid #eaebec;
                display: inline-block;
                font-weight: 300;
                color: $text-color;
                padding: 5px 10px;
                white-space: nowrap;

                span {
                    opacity: 0.6;
                    font-size: 18px;
                    margin-right: 3px;
                }

                &:hover {
                    border-color: $second-color;
                    text-decoration: none;
                }
            }
        }
    }

    &-item {
        border: 1px solid #eaebec;
        border-top: none;
        padding: 10px;
        position: relative;

        >div {
            &:not(:first-of-type) {
                padding-top: 50px;

                @include media-breakpoint('lt-md') {
                    padding-top: 0;
                }

            }
        }

        .prices {
            .price-value {
                font-size: 18px;
                font-weight: bold;
                display: block;

                &-old {
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        }

        &__main {
            display: grid;
            grid-template-columns: 130px 1fr;
            column-gap: 40px;

            @include media-breakpoint('lt-md') {
                display: block;
            }
        }

        &__image {
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;

            @include media-breakpoint('lt-md') {
                a {
                    display: block;
                    text-align: center;
                }
            }

            img {
                max-width: 100%;
                transition: .2s;
            }

            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }

        &__discont {
            position: absolute;
            top: 10px;
            right: 10px;

            span {
                background: #e20c0c;
                color: #fff;
                border-radius: 2px;
                display: inline-block;
                padding: 3px 6px;
            }
        }

        &__info {
            align-self: center;

            >a {
                font-size: 17px;
                font-weight: bold;
                color: $text-color;
                display: inline-block;
                margin: 0 0 10px 0;

                &:hover {
                    color: $primary-color;
                }
            }

            .product-options {
                .prop {
                    margin-bottom: 10px;
                    position: relative;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .values {
                        align-items: center;

                        .value {
                            margin: 0;
                        }
                    }

                    button.prop-change {
                        font-size: 13px;
                        background: none;
                        border: none;
                        text-decoration: underline;
                        padding: 0;
                        margin: 0 0 0 10px;

                        &:hover {
                            text-decoration: none;
                            color: $second-color;
                        }
                    }

                    &-popup {
                        position: absolute;
                        z-index: 10;
                        right: 100%;
                        top: -60px;
                        margin-right: -75px;
                        width: 220px;
                        @extend %hide_item;
                        transform: scale(.9);

                        .filters {
                            margin: 0;

                            .filter {
                                border: none;
                            }
                        }
                    }

                    &--opened {
                        .prop-popup {
                            @extend %show_item;
                            transform: none;
                        }
                    }
                }
            }
        }

        &__price {
            @include media-breakpoint('lt-md') {
                text-align: center;
                margin: 10px 0;

                .stock {
                    justify-content: center;
                }
            }

            p {
                font-size: 18px;
                font-weight: bold;
                margin: 0 0 5px 0;
            }
        }

        &__amount {
            @include media-breakpoint('lt-md') {
                margin: 10px 0;
            }

            .input-counter {
                max-width: 120px;
                margin: 0 auto;

                .btn {
                    line-height: 27px;
                    height: 27px;
                }

                .input-group-text {
                    height: 28px;

                    .form-control {
                        height: 28px;
                    }
                }
            }
        }

        &__sum {

            @include media-breakpoint('lt-md') {
                text-align: center;
            }

            .sum-economy {
                font-size: 12px;

                p {
                    margin: 0 0 2px 0;
                    color: #7d7d7d;
                }

                span {
                    display: inline-block;
                    background: #ef8808;
                    border-radius: 2px;
                    padding: 3px 10px;
                    color: #fff;
                }
            }
        }

        &__remove {
            position: absolute;
            right: 15px;
            top: 60px;
            font-size: 20px;
            color: #919090;
            background: none;
            border: none;
            padding: 0;

            &:hover {
                color: $second-color;
            }
        }
    }

    &-result {
        padding: 10px;
        background: #f9f9f9;
        border: 1px solid #eaebec;
        border-top: none;

        &__sum {
            grid-column: 2/4;

            strong {
                font-size: 18px;
            }

            p {
                margin: 0;
                color: #717171;
            }
        }

        &__price {
            .prices {
                display: grid;

                .price {
                    &-value {
                        font-size: 30px;
                        line-height: 1.1;
                        font-weight: bold;

                        &-old {
                            font-size: 14px;
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    &-buttons {
        padding: 20px 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include media-breakpoint('lt-md') {
            flex-direction: column;

            a {
                margin-bottom: 10px;
            }
        }

        .link-catalog {
            font-size: 16px;
            font-weight: bold;
            color: $primary-color;
            display: flex;
            align-items: center;

            i {
                margin-right: 10px;
            }

            &:hover {
                text-decoration: none;
                color: $second-color;
            }
        }

        .btn {
            border: 1px solid $second-color;
            font-size: 16px;
            margin: 0 0 0 15px;

            @include media-breakpoint('lt-md') {
                margin-bottom: 15px;
            }

            &-checkout {
                color: $second-color;

                &:hover {
                    background: darken(#fff, 5%);
                }
            }

            &-primary {
                background: $second-color;

                &:hover {}
            }
        }
    }
}