.sl {
    margin: 30px 0;
    position: relative;

    .sl-item {
        &__inner {
            overflow: hidden;
            position: relative;
            border-bottom: 2px solid $second-color;

            img {
                width: 100%;
            }

            .sl-text {
                position: absolute;
                left: 50px;
                bottom: 50px;
                z-index: 10;
                font-size: 18px;
                font-weight: 400;

                h2 {
                    font-size: 48px;
                    line-height: 1;
                    font-weight: 700;
                    margin: 0 0 15px 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    &:not(.slick-slider) {
        .sl-item {
            &:not(:first-of-type) {
                display: none;
            }
        }
    }

    &.slick-slider {
        .sl-item {
            &__inner {
                .sl-text {}
            }
        }
    }

    .slick-active {
        .sl-item {
            &__inner {
                img {
                    transform: none;
                }

                .sl-text {}
            }
        }
    }
}