.sl {
    margin: 30px 0 20px 0;
    position: relative;
    overflow: hidden;

    .sl-item {
        &__inner {
            overflow: hidden;
            position: relative;
            border-bottom: 2px solid $second-color;

            img {
                width: 100%;
            }

            .sl-text {
                position: absolute;
                left: 50px;
                bottom: 50px;
                z-index: 10;
                font-size: 18px;
                font-weight: 400;

                h2 {
                    font-size: 48px;
                    line-height: 1;
                    font-weight: 700;
                    margin: 0 0 15px 0;
                }

                p {
                    margin: 0;
                }
            }
        }
    }

    &:not(.slick-slider) {
        .sl-item {
            &:not(:first-of-type) {
                display: none;
            }
        }
    }

    .slick-active {
        .sl-item {
            &__inner {
                img {
                    transform: none;
                }
            }
        }
    }
}

.advants {
    &__list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        .item {
            flex: 0 0 20%;
            text-align: center;
            padding: 0 10px;
            margin-bottom: 18px;

            .icons {
                margin: 0 0 7px 0;
                height: 60px;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    display: inline-block;
                    background: url(../images/sprite.png) no-repeat;

                    &.icons-advant1 {
                        background-position: 0 -62px;
                        width: 38px;
                        height: 40px;
                    }

                    &.icons-advant2 {
                        background-position: -43px -71px;
                        width: 40px;
                        height: 29px;
                    }

                    &.icons-advant3 {
                        background-position: -88px -66px;
                        width: 31px;
                        height: 37px;
                    }

                    &.icons-advant4 {
                        background-position: -122px -71px;
                        width: 40px;
                        height: 32px;
                    }

                    &.icons-advant5 {
                        background-position: -166px -65px;
                        width: 80px;
                        height: 40px;
                    }
                }
            }

            .name {
                font-weight: 300;
                font-size: 16px;
                line-height: 1.2;
            }

            a {
                display: block;
                color: $text-color;
                text-decoration: none;

                &:hover {
                    color: $second-color;

                    .icons {

                        i {

                            &.icons-advant1 {
                                background-position: 0 -102px;
                            }

                            &.icons-advant2 {
                                background-position: -43px -111px;
                            }

                            &.icons-advant3 {
                                background-position: -88px -106px;
                            }

                            &.icons-advant4 {
                                background-position: -122px -111px;
                            }

                            &.icons-advant5 {
                                background-position: -166px -105px;
                            }
                        }
                    }
                }
            }

        }
    }
}

.promo {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -3px 35px -3px;

    .promo-item {
        margin: 0 3px 6px 3px;
        flex: 0 0 calc(25% - 6px);
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
        }

        &__text {
            position: absolute;
            bottom: 15px;
            left: 15px;
            z-index: 10;

            .item-title {
                font-size: 17px;
                display: inline-block;
                font-weight: bold;
                color: #fff;
                padding: 5px 15px;
                background: $primary-color;
            }

            p {
                margin: 0;
                line-height: 18px;
                font-size: 13px;
                transition: color ease-out 0.07s;
                opacity: 0;
                visibility: hidden;
                height: 0px;
                color: #fff;
                font-size: 13px;
                max-height: 54px;
                overflow: hidden;
                transition: all ease 0.1s;
            }
        }

        &--wide50 {
            flex: 0 0 calc(50% - 6px);
        }


        a {
            display: block;
            position: relative;
            text-decoration: none;

            &:before {
                content: "";
                background-color: rgba(0, 0, 0, .5);
                transition: opacity .8s cubic-bezier(.19, 1, .22, 1);
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                z-index: 2;
                opacity: 0;
            }

            &:hover {
                &:before {
                    opacity: 1;
                }

                img {
                    transform: scale(1.25);
                }

                .promo-item__text {

                    p {
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                        margin: 10px 0px 0px;
                    }
                }
            }
        }
    }
}

.akc {
    &__top {
        margin-bottom: 25px;

        a {
            display: inline-block;
            font-size: 16px;
            text-decoration: underline;
            color: $second-color;
            font-weight: bold;
            margin-left: 60px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .akc-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -7px;

        .akc-item {
            flex: 0 0 calc(25% - 14px);
            margin: 0 7px 14px 7px;

            a {
                text-decoration: none;
            }

            &__image {
                border: 1px solid #eaebec;
                margin-bottom: 15px;

                img {
                    width: 100%;
                }
            }

            &__title {
                font-weight: bold;
                line-height: 1.3;
                color: $second-color;
                margin: 0 12px 15px 12px;
                transition: .3s;
            }

            &__period {
                color: #717171;
                font-size: 12px;
                margin: 0 12px 15px 12px;
            }

            &:hover {
                box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

                .akc-item__title {
                    color: $text-color;
                }
            }
        }
    }
}

.welcome {
    padding-top: 30px;
    border-top: 1px solid #eaebec;
}

.brands {
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #eaebec;

    .section-title {
        margin-bottom: 30px;
    }

    &__list {
        padding: 0 35px;

        .slick-arrow {
            &.slick-next {
                right: 0;
            }

            &.slick-prev {
                left: 0;
            }
        }

        .item {
            text-align: center;

            a {
                display: inline-block;

                img {
                    opacity: 0.5;
                    transition: all ease .5s;
                    filter: grey;
                    -webkit-filter: grayscale(100%);
                }

                &:hover {
                    img {
                        opacity: 1;
                        filter: none;
                        -webkit-filter: grayscale(0%);
                    }
                }
            }
        }
    }
}

.product-tabs {
    margin-bottom: 30px;

    .nav {
        border: none;
        margin-bottom: 20px;

        li {
            margin: 0 60px 0 0;

            a {
                font-size: 17px;
                font-weight: bold;
                color: $text-color;

                &.active {
                    color: $second-color;
                    text-decoration: underline;
                }

                &:hover {
                    color: $second-color;
                    text-decoration: underline;
                }
            }

        }
    }

    .tab-content {
        >.tab-pane {
            display: block;
            height: 0px;

            &.active {
                height: auto;
            }
        }
    }
}

@media screen and (max-width: $desktop) {
    .promo .promo-item__text .item-title {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: $tablet) {
}