<section class="brands">
  <h2 class="section-title">Наши собственные бренды</h2>
  <div class="brands__list">
    <div class="item">
      <a href="#">
        <img src="images/demo/brand_roomaif.png" alt="Roomaif" />
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="images/demo/brand_boec.png" alt="БОЕЦ" />
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="images/demo/brand_rgx.png" alt="RGX" />
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="images/demo/brand_roomaif.png" alt="Roomaif" />
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="images/demo/brand_bf.png" alt="BodyForm" />
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="images/demo/brand_carpice.png" alt="Carpice" />
      </a>
    </div>
    <div class="item">
      <a href="#">
        <img src="images/demo/brand_roomaif.png" alt="Roomaif" />
      </a>
    </div>
  </div>
</section>