.header {
    background: #fff;
    padding: 0 $side-padding;

    &__top {
        background: $second-color;
        padding: 10px;
        font-size: 14px;
        line-height: 1;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: #fff;
        }

        .header-region {

            i {
                margin: 0 8px 0 0;
            }
        }

        .header-contacts {
            display: flex;
            align-items: center;

            a {
                display: inline-block;
                margin-right: 15px;
            }

            >i {
                margin-right: 10px;
            }

            .btn {
                background: none;
                border: none;
                margin: 0 0 0 30px;
                color: #fff;
                text-decoration: underline;
                font-size: 14px;
                font-weight: bold;
                padding: 0;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .header-account {
            >a {
                display: flex;
                align-content: center;

                >i {
                    margin-right: 10px;
                }
            }
        }
    }

    &__main {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            flex: 0 0 240px;
            font-weight: bold;
            color: #222;
            text-decoration: none;
            display: flex;
            align-items: center;

            img {
                flex: 0 0 auto;
                margin: 0 5px 0 0;
            }

            span {
                line-height: 1.3;
            }

            &:hover {
                color: $second-color;
            }
        }

        .header-search {
            flex: 0 1 390px;
            margin: 0 20px 0 10px;

            &__toggle {
                display: none;
            }

            .search-input {
                .form-input {
                    border: 1px solid #eaebec;
                    border-radius: 6px;
                    position: relative;
                    padding: 0 50px 0 20px;

                    .form-control {
                        border: none;
                        box-shadow: none;
                        padding: 0;
                    }

                    .btn {
                        position: absolute;
                        top: 12px;
                        right: 17px;
                        padding: 0;
                        box-shadow: none;
                    }
                }
            }
        }

        .header-links {
            display: flex;
            flex: 0 0 350px;
            margin-left: auto;

            .link {
                display: block;
                white-space: nowrap;
                color: #222;
                margin: 10px 10px 0 20px;
                position: relative;
                text-decoration: none;

                &:first-of-type {
                    margin-left: 0;
                }

                span {
                    display: inline-block;
                    text-align: center;
                    min-width: 26px;
                    background: $second-color;
                    border-radius: 9px;
                    padding: 0 3px;
                    color: #fff;
                    font-size: 12px;
                    font-weight: bold;
                    line-height: 1.2;
                    position: absolute;
                    top: -15px;
                    right: 0;
                }

                >i {
                    margin: 0 8px 0 0;
                }

                &:hover {
                    color: $second-color;

                    .appicon {
                        &-compare {
                            background-position: -1px -40px;
                        }

                        &-heart {
                            background-position: -18px -41px;
                        }

                        &-cart {
                            background-position: -36px -39px;
                        }
                    }
                }

                &-fav {
                    >i {
                        position: relative;
                        top: 2px;
                    }
                }

                &-cart {
                    >i {
                        position: relative;
                        top: 4px;
                        margin-top: -6px;
                    }
                }
            }
        }
    }

    .navi {
        background: $primary-color;

        nav {
            display: flex;
            justify-content: space-between;
        }

        .catalog-menu {
            flex: 0 0 $sidebar-width;

            .menu {
                >li {
                    flex: 0 0 100%;

                    >a {
                        padding-left: 15px;
                        padding-right: 15px;
                        display: flex;
                        align-items: center;
                        background: lighten($primary-color, 5%) !important;

                        >i {
                            margin-right: 8px;
                            position: relative;
                            top: -1px;
                        }

                        >span {
                            flex: 1 0 auto;
                            display: block;
                            position: relative;
                            padding-right: 10px;

                            i {
                                position: absolute;
                                top: 5px;
                                right: 0;
                                font-size: 16px;
                            }
                        }
                    }

                    >.dropdown {
                        display: none !important;
                    }
                }
            }
        }

        .main-menu {
            flex: 1 0 auto;
        }

    }
}

@media screen and (max-width: $desktop) {
    .header {

        &__main {

            .search-input {

                .form-input {

                    .form-control {
                        font-size: 14px;
                    }
                }
            }

            .header-links {
                .link {
                    font-size: 13px;
                }
            }

        }
    }
}

@media screen and (max-width: $tablet) {
    .header {
        &__top {
            .header-region {
                display: none;
            }

            .header-contacts {

                >span,
                button {
                    display: none;
                }
            }
        }

        &__main {
            .header-search {
                flex: 0 0 auto;
                margin-left: auto;

                &__toggle {
                    display: block;
                }

                &__input {
                    display: none;
                }
            }

            .header-links {
                flex: 0 0 auto;
                margin-left: 0;
            }
        }
    }
}