.header {
    background: #fff;
    padding: 0 $side-padding;
    position: relative;
    z-index: 100;


    .body-overlay {
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        left: 0;
        overflow: hidden;
        pointer-events: none;
        position: fixed;
        top: 0;
        transition: opacity 0.3s ease 0s;
        width: 100%;
        z-index: -1;
        visibility: hidden;
        opacity: 0;
    }

    &__top {
        background: $second-color;
        padding: 10px;
        font-size: 14px;
        line-height: 1;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            color: #fff;
        }

        .header-region {

            i {
                margin: 0 8px 0 0;
            }
        }

        .header-contacts {
            display: flex;
            align-items: center;

            a {
                display: inline-block;
                margin-right: 15px;
            }

            >i {
                margin-right: 10px;
            }

            .btn {
                background: none;
                border: none;
                margin: 0 0 0 30px;
                color: #fff;
                text-decoration: underline;
                font-size: 14px;
                font-weight: bold;
                padding: 0;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .header-account {
            >a {
                display: flex;
                align-content: center;

                >i {
                    margin-right: 10px;
                }
            }
        }
    }

    &__main {
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 10;

        .header-logo {
            flex: 0 0 240px;

            .logo {
                display: flex;
                align-items: center;
                font-weight: bold;
                color: #222;
                text-decoration: none;

                img {
                    flex: 0 0 auto;
                    margin: 0 5px 0 0;
                }

                span {
                    line-height: 1.3;
                }

                &:hover {
                    color: $second-color;
                }
            }
        }

        .header-search {
            flex: 0 1 390px;
            margin: 0 30px 0 10px;
            position: relative;

            &__toggle {
                &.icon-link {
                    display: none;

                    i {
                        margin-right: 6px;
                    }
                }
            }

            &--shown {
                .header-search__input {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }
            }
        }

        .header-menu {
            display: flex;
            flex: 1 1 auto;
            justify-content: flex-end;

            .link-account {
                display: none;
            }
        }

        .icon-link {
            display: block;
            white-space: nowrap;
            color: #222;
            margin: 10px 10px 0 20px;
            position: relative;
            text-decoration: none;

            &__counter {
                display: inline-block;
                text-align: center;
                min-width: 26px;
                background: $second-color;
                border-radius: 9px;
                padding: 0 3px;
                color: #fff;
                font-size: 12px;
                font-weight: bold;
                line-height: 1.2;
                position: absolute;
                top: -15px;
                right: 0;
            }

            >i {
                margin: 0 8px 0 0;
            }

            &:hover {
                color: $second-color;

                .appicon {
                    &-compare {
                        background-position: -1px -40px;
                    }

                    &-heart {
                        background-position: -18px -41px;
                    }

                    &-cart {
                        background-position: -36px -39px;
                    }
                }
            }

            &-fav {
                >i {
                    position: relative;
                    top: 2px;
                }
            }

            &-cart {
                >i {
                    position: relative;
                    top: 4px;
                    margin-top: -6px;
                }
            }
        }
    }

    .navi {
        background: $primary-color;
        position: relative;
        z-index: 5;

        .navi-toggle {
            display: none;
            justify-content: space-between;
            align-items: center;
            background: $primary-color;
            color: #fff;
            font-weight: 500;
            cursor: pointer;
            padding: 0 10px;

            span {
                font-weight: bold;
                font-size: 16px;
            }

            button {
                background: none;
                border: none;
                padding: 10px 0;
                cursor: pointer;
                text-align: center;
                background: transparent;
                border-radius: 50%;

                &:focus {
                    outline: none;
                }

                .lines {
                    @include line;
                    display: inline-block;
                    margin: 0;
                    top: -2px;
                    position: relative;

                    &:before,
                    &:after {
                        @include line;
                        position: absolute;
                        left: 0;
                        content: '';
                        transform-origin: 4px center;
                    }

                    &:before {
                        top: 8px;
                    }

                    &:after {
                        top: -7px;
                    }
                }

                &:hover {
                    color: lighten(#fff, 15%);

                    .lines {
                        background: lighten(#fff, 15%);

                        &:before,
                        &:after {
                            background: lighten(#fff, 15%);
                        }
                    }
                }
            }

            &:hover {
                background: darken($primary-color, 5%);
            }
        }

        .navi-list {
            display: flex;
            justify-content: space-between;
        }

        .catalog-menu {
            flex: 0 0 $sidebar-width;

            .menu {
                >li {
                    flex: 0 0 100%;

                    >a {
                        padding-left: 15px;
                        padding-right: 15px;
                        display: flex;
                        align-items: center;
                        background: lighten($primary-color, 5%) !important;

                        >i {
                            margin-right: 8px;
                            position: relative;
                            top: -1px;
                        }

                        >span {
                            flex: 1 0 auto;
                            display: block;
                            position: relative;
                            padding-right: 10px;
                        }
                    }

                    &.has-child {
                        >a {
                            &:after {
                                display: block;
                                top: 10px;
                                right: 15px;
                            }
                        }
                    }

                    &:hover {

                        .dropdown {
                            visibility: visible;
                            opacity: 1;
                            transform: none;
                        }
                    }

                    .dropdown {
                        width: 220px;
                        z-index: 999;
                    }
                }
            }
        }

        .main-menu {
            flex: 1 0 auto;
        }

    }

    &.front-page-header {
        .navi {

            .catalog-menu {

                .menu {
                    >li {
                        &.has-child {
                            >a {
                                &:after {
                                    transform: rotate(90deg);
                                }
                            }
                        }

                        >.catalog-navi {
                            display: none;
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: $desktop) {
    .header {

        &__main {

            .search-input {

                .form-input {

                    .form-control {
                        font-size: 14px;
                    }
                }
            }

            .header-links {
                .link {
                    font-size: 13px;
                }
            }

        }
    }
}

@media screen and (max-width: $tablet) {
    .header {
        margin: 0 -15px;
        padding: 0;

        >div {
            padding-left: 15px;
            padding-right: 15px;
        }

        .navi {
            .catalog-menu {
                flex: 0 1 220px;
            }

            .main-menu {
                flex: 0 1 840px;
            }
        }

        &__top {
            .header-region {
                display: none;
            }

            .header-contacts {

                >span,
                button {
                    display: none;
                }
            }
        }

        &__main {
            .header-search {
                flex: 0 0 auto;
                position: relative;
                margin-left: auto;
                margin-right: 0;

                &__toggle {
                    &.icon-link {
                        display: block;
                    }
                }

                &__input {
                    transform: translateY(5px);
                    transition: .1s;
                    opacity: 0;
                    visibility: hidden;
                    width: 320px;
                    position: absolute;
                    left: -100px;
                    top: 100%;
                    margin: 10px 0 0;

                    .form-input {
                        padding-left: 10px;

                        .form-control {
                            padding-top: 2px;
                            font-size: 13px;
                        }
                    }
                }
            }

            .header-menu {
                flex: 0 0 auto;
                margin-left: 0;
            }

            .icon-link {
                font-size: 14px;

                i {
                    margin-right: 3px;
                }

                &__counter {
                    padding: 2px 3px;
                    min-width: 18px;
                    font-size: 10px;
                    line-height: 1;
                }
            }
        }

        &.front-page-header {
            .navi {

                .catalog-menu {

                    .menu {
                        >li {
                            &.has-child {
                                >a {
                                    &:after {
                                        transform: rotate(0);
                                    }
                                }
                            }

                            >.catalog-navi {
                                display: block;
                            }

                            &:hover {
                                &.has-child {
                                    >a {
                                        &:after {
                                            transform: rotate(90deg);
                                        }
                                    }
                                }

                            }
                        }
                    }
                }

            }
        }
    }
}

@media screen and (max-width: $mobile) {
    .header {
        &__top {
            .header-contacts {
                flex-wrap: wrap;
                height: 16px;
                overflow: hidden;
            }

            .header-account {
                flex: 0 0 125px;
                font-size: 13px;
            }
        }

        &__main {
            flex-wrap: wrap;
            justify-content: center;
            position: relative;

            .header-logo {
                flex: 0 0 100%;

                .logo {
                    margin: 0 auto;
                    justify-content: space-between;
                    max-width: 230px;
                }
            }

            .header-search {
                margin-left: 0;
                position: initial;

                &__input {
                    width: auto;
                    z-index: 100;
                    right: 15px;
                    left: 15px;
                    margin-top: 0;

                    .form-input {
                        border-radius: 0;
                    }
                }
            }
        }

        .icon-link {
            text-align: center;
            justify-content: center;
            margin: 20px 0 0 10px;

            i {
                margin-right: 0;
            }

            &__name {
                display: block;
                font-size: 9px;
                text-transform: uppercase;
            }

            &__counter {
                top: -10px;
            }
        }

        .header-menu {
            .link-account {
                display: inline-block;
            }
        }

        .navi {
            background: none;
            z-index: 9;

            .navi-toggle {
                display: flex;
                position: relative;
                z-index: 10;
            }

            .navi-list {
                display: block;
                transition: .3s;
                border-right: 3px solid $second-color;
                top: 0;
                bottom: 0;
                left: -100%;
                margin: 0;
                overflow-x: hidden;
                overflow-y: auto;
                position: fixed;
                transition: all 0.4s ease 0s;
                width: 280px;
                height: 100%;
                background-color: rgb(90, 90, 90);
                padding: 0;
                opacity: 0;
                visibility: hidden;
                transition: .2s;
            }

            .catalog-menu {
                flex: 0 0 100%;

                .menu {
                    >li {

                        >a {
                            background: none !important;
                        }
                    }
                }
            }
        }
    }

    .menu-opened {
        .header {
            z-index: 9999;

            .navi {
                z-index: 99;

                .navi-list {
                    opacity: 1;
                    visibility: visible;
                    left: 0;
                    z-index: 1000;
                }
            }

            .navi-toggle {
                button {
                    transition: none;

                    .lines {
                        background: transparent;

                        &:before,
                        &:after {
                            transform-origin: 50% 50%;
                            top: 0;
                            width: 28px;
                        }

                        &:before {
                            transform: rotate3d(0, 0, 1, 45deg);
                        }

                        &:after {
                            transform: rotate3d(0, 0, 1, -45deg);
                        }
                    }

                    &:hover {
                        .lines {
                            background: none;
                        }
                    }
                }
            }

        }
    }
}