.header {
    background: #fff;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;

    &.sticky {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 999;
        animation: 600ms ease-in-out 0s normal none 1 running fadeInDown;

        .header-top {
            padding: 5px 0;
            border-bottom: none;

            .logo {
                p {
                    display: none;
                }
            }
        }
    }

    .header-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;

        .logo {
            flex: 0 0 190px;
            font-size: 30px;
            font-weight: bold;
            color: $second-color;
            text-transform: uppercase;
            transition: .3s;
            text-decoration: none;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .search {
        flex: 1 1 auto;

        &__input {
            height: 50px;
            border: 1px solid #ebebeb;
            border-radius: 10px;
            position: relative;
            padding: 10px 10px 10px 50px;
            color: #b2b3b3;
            font-size: 14px;
            line-height: 27px;

            i {
                position: absolute;
                left: 20px;
                top: 16px;
            }

            input {
                border: none;
                width: 100%;
                font-weight: 500;
                outline: none !important;
            }
        }
    }

    .toolbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 5px;

        &__btn {
            margin: 0 25px;

            .btn {
                padding: 15px 30px;
                line-height: 1;
                border-radius: 10px;
                height: 50px;
            }
        }

        &__account {
            padding: 5px 0;

            a {
                display: block;
                font-size: 13px;
                color: #b3b2b2;
                text-decoration: none;
                margin: 0 0 0px 0;

                &:hover {
                    color: $text-color;
                }
            }
        }

        &__ddl {
            display: flex;

            .ddl {
                margin: 0 0 0 20px;

                &.wishs {
                    .ddl-toggle {
                        background: #fff;
                        border: 1px solid #b6b5b5;
                        align-items: center;
                    }
                }

                &.scart {
                    .ddl-toggle {
                        background: #000;
                        border: 1px solid #000;
                        align-items: center;
                    }

                    .cart-content {
                        width: 265px;

                        &__products {
                            display: flex;
                            flex-wrap: wrap;
                            padding-bottom: 20px;
                            margin-bottom: 20px;
                            border-bottom: 1px solid #ededed;

                            .products-images {
                                margin-right: 20px;
                                position: relative;
                                display: flex;
                                max-width: 150px;
                                border-radius: 8px;

                                a {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    align-content: center;
                                    width: 44px;
                                    height: 44px;
                                    border-radius: 8px;
                                    position: absolute;
                                    background: #f6f6f6;
                                    border: 2px solid #f6f6f6;
                                    transition: .3s;
                                    text-decoration: none;

                                    img {
                                        max-height: 100%;
                                        max-width: 100%;
                                        width: auto;
                                        height: auto;
                                    }

                                    &:nth-child(1) {
                                        z-index: 5;
                                        left: 0;
                                    }

                                    &:nth-child(2) {
                                        z-index: 4;
                                        left: 24px;
                                    }

                                    &:nth-child(3) {
                                        z-index: 3;
                                        left: 48px;
                                    }

                                    &:nth-child(4) {
                                        z-index: 2;
                                        left: 72px;
                                    }

                                    &:nth-child(5) {
                                        z-index: 1;
                                        left: 96px;
                                    }

                                    &:hover {
                                        transform: translateY(-10px);
                                        border-color: $primary-color;
                                    }

                                    .empty-image {
                                        font-size: 28px;
                                    }
                                }
                            }

                            .products-counter {
                                p {
                                    margin: 0;
                                }
                            }
                        }

                        &__sum {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            flex-wrap: wrap;
                            margin-bottom: 10px;

                            span {
                                margin-bottom: 10px;
                            }

                            strong {
                                font-size: 24px;
                                margin-bottom: 10px;
                            }
                        }

                        .btn {
                            margin: 0 auto 20px auto;
                            max-width: 260px;
                            width: 100%;
                            font-size: 16px;
                            border-radius: 18px;
                            padding: 15px 20px;
                        }

                        &__link {
                            padding-top: 20px;
                            border-top: 1px solid #ededed;
                            text-align: center;

                            a {
                                color: #b3b2b2;
                                font-size: 16px;
                                transition: .3s;

                                &:hover {
                                    color: $primary-color;
                                }
                            }
                        }
                    }
                }

                &.acc {
                    .ddl-toggle {
                        background: #f5f7f7;
                        align-items: flex-end;
                    }

                    .ddl-dropdown {
                        padding: 20px 30px;

                        .account-menu {
                            list-style: none;
                            padding: 0;
                            margin: 0;

                            li {
                                text-align: right;
                                margin: 10px 0;

                                a {
                                    color: #161e21;
                                    transition: .3s;
                                    font-size: 13px;

                                    &:hover {
                                        color: $primary-color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .ddl {
            position: relative;
            z-index: 100;

            .ddl-toggle {
                width: 44px;
                height: 44px;
                cursor: pointer;
                position: relative;
                z-index: 15;
                border-radius: 12px;
                display: flex;
                justify-content: center;

                span {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    font-size: 12px;
                    font-weight: bold;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 0;
                    right: 0;
                    margin: -13px -13px 0 0;
                    border: 1px dashed $primary-color;
                    background: $primary-color;
                    color: #fff;

                    &.zero {
                        border: 1px dashed #b6b5b5;
                        background: #fff;
                        color: #000;
                    }
                }
            }

            .ddl-dropdown {
                opacity: 0;
                visibility: hidden;
                transition: .3s;
                position: absolute;
                z-index: 10;
                margin-top: 5px;
                padding: 30px 25px;
                top: 100%;
                right: 0;
                background: #fff;
                border-radius: 18px 0 18px 18px;
                box-shadow: 0 12px 30px 5px rgba(0, 0, 0, 0.2);

                .empty-content {
                    min-width: 320px;

                    p {
                        font-size: 12px;
                        margin: 0;
                        color: #b3b2b2;
                    }
                }

                .dropdown-title {
                    font-size: 16px;
                    font-weight: bold;
                    margin: 0 0 10px 0;
                }
            }

            &:hover {
                .ddl-dropdown {
                    opacity: 1;
                    visibility: visible;
                    margin-top: -10px;
                }
            }
        }
    }
}