@@include('../includes/header.html', { "title": "Blog", "headerClass": "" })

<div class="container">
    <div class="inner">
        <main id="content" class="content content-inner" role="main">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><span>Статьи</span></li>
                </ul>
            </div>
            <div class="inner-blog">
                <div class="blog-content">
                    <div class="heading-blog clearfix">
                        <span>Блог Sport07</span>
                    </div>
                    <div class="content-post loading-content">
                        <div class="blog-list loading-list">
                            <div class="blog-list__item item-orange">
                                <div class="item-top">
                                    <div class="item-date">
                                        <span class="date-day">25</span>
                                        <span class="date-month">ИЮН</span>
                                    </div>
                                    <div class="item-title">
                                        <a href="blog-post.html">Новая летняя коллекция от международного бренда
                                            Sport07</a>
                                    </div>
                                </div>
                                <a href="blog-post.html" class="item-image">
                                    <div class="img">
                                        <img src="images/demo/b2.jpg" alt="">
                                    </div>
                                    <div class="txt">
                                        <span>Интрент магазин спортивных товаров Sport07</span>
                                    </div>
                                </a>
                                <div class="item-author">
                                    <div class="item-author__ava">
                                        <img src="images/demo/ava.png" alt="">
                                    </div>
                                    <span class="item-author__name">Александра Петровская</span>
                                </div>
                                <div class="item-short">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </div>
                                <div class="item-bot">
                                    <div class="item-bot__tags">
                                        <i class="fa fa-tag"></i>
                                        <span>Теги:</span>
                                        <a href="#">детская одежда</a>
                                        <a href="#">одежда для девочек</a>
                                        <a href="#">советы молодым мамам</a>
                                    </div>
                                    <div class="item-bot__comments">
                                        <i class="fa fa-comments"></i>
                                        <a href="blog-post.html#comments">Комментарии</a>
                                        <span>(25)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-list__item item-pink">
                                <div class="item-top">
                                    <div class="item-date">
                                        <span class="date-day">25</span>
                                        <span class="date-month">ИЮН</span>
                                    </div>
                                    <div class="item-title">
                                        <a href="blog-post.html">Новая летняя коллекция от международного бренда
                                            Sport07</a>
                                    </div>
                                </div>
                                <a href="blog-post.html" class="item-image">
                                    <div class="img">
                                        <img src="images/demo/lb7.jpg" alt="">
                                    </div>
                                    <div class="txt">
                                        <span>Интрент магазин спортивных товаров Sport07</span>
                                    </div>
                                </a>
                                <div class="item-author">
                                    <div class="item-author__ava">
                                        <img src="images/demo/ava2.png" alt="">
                                    </div>
                                    <span class="item-author__name">Александра Петровская</span>
                                </div>
                                <div class="item-short">
                                    Наша компания является отличным сочетанием европейского стиля, отечественного
                                    качества пошива и профессионального менеджмента в организации. Отличная
                                    альтернатива дорогих импортных брендов одежды, более доступная по цене и во многом
                                    превосходящая по качеству пошива и сырья.
                                </div>
                                <div class="item-bot">
                                    <div class="item-bot__tags">
                                        <i class="fa fa-tag"></i>
                                        <span>Теги:</span>
                                        <a href="#">детская одежда</a>
                                        <a href="#">одежда для девочек</a>
                                        <a href="#">советы молодым мамам</a>
                                    </div>
                                    <div class="item-bot__comments">
                                        <i class="fa fa-comments"></i>
                                        <a href="blog-post.html#comments">Комментарии</a>
                                        <span>(25)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-list__item item-green">
                                <div class="item-top">
                                    <div class="item-date">
                                        <span class="date-day">25</span>
                                        <span class="date-month">ИЮН</span>
                                    </div>
                                    <div class="item-title">
                                        <a href="blog-post.html">Новая летняя коллекция от международного бренда
                                            Sport07</a>
                                    </div>
                                </div>
                                <a href="blog-post.html" class="item-image">
                                    <div class="img">
                                        <img src="images/demo/page_img1.jpg" alt="">
                                    </div>
                                    <div class="txt">
                                        <span>Интрент магазин спортивных товаров Sport07</span>
                                    </div>
                                </a>
                                <div class="item-author">
                                    <div class="item-author__ava">
                                        <img src="images/demo/ava3.png" alt="">
                                    </div>
                                    <span class="item-author__name">Александра Петровская</span>
                                </div>
                                <div class="item-short">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </div>
                                <div class="item-bot">
                                    <div class="item-bot__tags">
                                        <i class="fa fa-tag"></i>
                                        <span>Теги:</span>
                                        <a href="#">детская одежда</a>
                                        <a href="#">одежда для девочек</a>
                                        <a href="#">советы молодым мамам</a>
                                    </div>
                                    <div class="item-bot__comments">
                                        <i class="fa fa-comments"></i>
                                        <a href="blog-post.html#comments">Комментарии</a>
                                        <span>(25)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-list__item item-blue">
                                <div class="item-top">
                                    <div class="item-date">
                                        <span class="date-day">25</span>
                                        <span class="date-month">ИЮН</span>
                                    </div>
                                    <div class="item-title">
                                        <a href="blog-post.html">Новая летняя коллекция от международного бренда
                                            Sport07</a>
                                    </div>
                                </div>
                                <a href="blog-post.html" class="item-image">
                                    <div class="img">
                                        <img src="images/demo/lb3.jpg" alt="">
                                    </div>
                                    <div class="txt">
                                        <span>Интрент магазин спортивных товаров Sport07</span>
                                    </div>
                                </a>
                                <div class="item-author">
                                    <div class="item-author__ava">
                                        <img src="images/demo/ava4.png" alt="">
                                    </div>
                                    <span class="item-author__name">Александра Петровская</span>
                                </div>
                                <div class="item-short">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.
                                </div>
                                <div class="item-bot">
                                    <div class="item-bot__tags">
                                        <i class="fa fa-tag"></i>
                                        <span>Теги:</span>
                                        <a href="#">детская одежда</a>
                                        <a href="#">одежда для девочек</a>
                                        <a href="#">советы молодым мамам</a>
                                    </div>
                                    <div class="item-bot__comments">
                                        <i class="fa fa-comments"></i>
                                        <a href="blog-post.html#comments">Комментарии</a>
                                        <span>(25)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-pager">
                            <a class="btn btn-primary load-next">
                                <span>Показать еще</span>
                            </a>
                        </div>
                    </div>
                    <div id="pager">
                        <a class="page-prev" href="#"><i class="fa fa-angle-left"></i></a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#" class="active">4</a>
                        <a href="#">5</a>
                        <span class="page-skip">...</span>
                        <a href="#">183</a>
                        <a class="page-next" href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <div class="related-post">
                        <div class="related-top">Похожие статьи </div>
                        <ul>
                            <li><a href="#">Как нарядить малыша к Рождеству</a></li>
                            <li><a href="#">Отмечаем День рождения ребенка в холодное время года</a></li>
                            <li><a href="#">Зимняя одежда для самых маленьких</a></li>
                            <li><a href="#">Что взять на прогулку с ребенком в жаркую погоду</a></li>
                            <li><a href="#">Выбираем детскую одежду для малышей</a></li>
                            <li><a href="#">Какая одежда не нужна деткам школьного возраста</a></li>
                            <li><a href="#">Как убедить подростка не одеваться слишком ярко</a></li>
                        </ul>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div id="sidebar" class="sticky">
                        <aside>
                            <div class="widget-subs widget-blog">
                                <div class="subs-top">
                                    Узнайте больше!
                                </div>
                                <div class="subs-text-img">
                                    Подпишитесь на наш блог о товарах для детей
                                </div>
                                <div class="subs-text">
                                    Полезные статьи и рекомендации от специалистов, эксклюзивные интервью с
                                    производителями, секретные новости и все самое полезное от sport07.ru. Попробуйте,
                                    ведь
                                    отписаться вы сможете всегда :)
                                </div>
                                <form class="subs-form">
                                    <div class="form-group">
                                        <div class="form-icon">
                                            <input class="form-control" type="text" placeholder="Ваш e-mail">
                                            <span><i class="icon icon-envelop"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-bottom">
                                        <button class="btn btn-default">Подписаться</button>
                                    </div>
                                </form>
                            </div>
                            <div class="widget-links-catalog widget-blog">
                                <div class="lc-top">
                                    У нас Вы можете приобрести:
                                </div>
                                <ul>
                                    <li><a href="#">одежду для девочек</a></li>
                                    <li><a href="#">одежду для мальчиков</a></li>
                                    <li><a href="#">одежду для новорожденных</a></li>
                                    <li><a href="#">одежду для детей до 12 лет</a></li>
                                </ul>
                                <div class="lc-text-img">
                                    Вас ждет широкий выбор товаров для детей на любой вкус.
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@@include('../includes/footer.html')