@@include('../includes/header.html', { "title": "Blog Post", "headerClass": "" })

<div class="container">
    <div class="inner">
        <main id="content" class="content content-inner" role="main">
            <div class="breadcrumbs">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="blog.html">Блог</a></li>
                    <li><span>Статьи</span></li>
                </ul>
            </div>
            <div class="inner-blog">
                <div class="blog-content">
                    <div class="content-post">
                        <div class="post post-content blog-content">
                            <div class="blog-list">
                                <div class="blog-list__item item-orange">
                                    <div class="item-top">
                                        <div class="item-date">
                                            <span class="date-day">25</span>
                                            <span class="date-month">ИЮН</span>
                                        </div>
                                        <div class="item-title">
                                            <div>Новая летняя коллекция от международного бренда “Goldy”</div>
                                        </div>
                                    </div>
                                    <div class="item-image">
                                        <div class="img">
                                            <img src="images/demo/b2.jpg" alt="">
                                        </div>
                                        <div class="txt">
                                            <span>Интрент магазин спортивных товаров Sport07</span>
                                        </div>
                                    </div>
                                    <div class="blog-toc blog-post__toc">
                                        <div class="blog-toc__title">
                                            Содержание
                                        </div>
                                        <div class="toc-list">
                                            <ol class="blog-toc__list js-toc">
                                                <li><a href="#0" target="_self">Не защитил диплом: это вообще
                                                        реально?</a></li>
                                                <li><a href="#1" target="_self">Если не успел сдать диплом к защите</a>
                                                </li>
                                                <li><a href="#2" target="_self">Если не явился на защиту диплома</a>
                                                </li>
                                                <li><a href="#3" target="_self">Если не получил допуск к защите диплома
                                                        из-за
                                                        отрицательного отзыва</a></li>
                                                <li><a href="#4" target="_self">Если провалил сдачу диплома</a></li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <p>Как ни странно, но с грудничками проще всего выходить на прогулку в жаркие дни. Точнее,
                                днем как раз выходить и не надо. С младенцами принято гулять рано утром и под вечер,
                                когда жара либо еще не началась, либо уже спала. С собой маленькому нужно взять
                                дополнительное питание (если на искусственном вскармливании) и водичку. Все это хранить
                                в термосумке.</p>
                            <p>Можно взять дополнительно тонкую и плотную пеленочку, чтобы защитить малыша от утреннего
                                прохладного ветра. Обязательно надевайте москитную сетку на коляску, так как и утром и
                                вечером в теплое время на улице полно мошек. Одеть ребенка можно в тоненький цельный
                                комбинезон или боди, в зависимости от погоды. Постарайтесь купить одежду для малыша,
                                которая максимально подходит для жарких августовских деньков. Но учитывайте, что в этом
                                месяце уже бывают холодные вечера.</p>
                            <p style="text-align: center"><a href="#"><img src="images/demo/bb_blog.jpg" alt=""></a></p>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Столбец таблицы</th>
                                        <th>Столбец таблицы</th>
                                        <th>Столбец таблицы</th>
                                        <th>Столбец таблицы</th>
                                        <th>Столбец таблицы</th>
                                        <th>Столбец таблицы</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><b>Столбец таблицы</b></td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                    </tr>
                                    <tr>
                                        <td><b>Столбец таблицы</b></td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                    </tr>
                                    <tr>
                                        <td><b>Столбец таблицы</b></td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                    </tr>
                                    <tr>
                                        <td><b>Столбец таблицы</b></td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                        <td>Столбец таблицы</td>
                                    </tr>
                                </tbody>
                            </table>
                            <p style="text-align: center"><a href="#"><img src="images/demo/bb_blog2.jpg" alt=""></a></p>
                            <img src="images/demo/page_img1.jpg" alt=""
                                style="float: right; margin: 0 0 40px 30px; width: 430px;">
                            <p>Жаркие деньки обожают и взрослые, и дети. Особенно когда некуда спешить и есть
                                возможность насладиться приятным времяпрепровождением на прогулке с собственным чадом.
                                Тем не менее, даже к самой простой прогулке следует подготовиться, ведь мало ли что
                                может понадобиться во время утреннего или вечернего выхода на детскую площадку.</p>
                            <p>Как ни странно, но с грудничками проще всего выходить на прогулку в жаркие дни. Точнее,
                                днем как раз выходить и не надо. С младенцами принято гулять рано утром и под вечер,
                                когда жара либо еще не началась, либо уже спала. С собой маленькому нужно взять
                                дополнительное питание (если на искусственном вскармливании) и водичку. Все это хранить
                                в термосумке.</p>

                            <p><mark>Если защита переносится на следующий год, военкомат тут же об этом узнает.
                                    Горе-дипломникам есть смысл сразу задуматься о воинской службе или о том, как <a
                                        href="#" rel="noopener" target="_blank">получить отсрочку</a> от армии.</mark>
                            </p>
                            <p>Можно взять дополнительно тонкую и плотную пеленочку, чтобы защитить малыша от утреннего
                                прохладного ветра. Обязательно надевайте москитную сетку на коляску, так как и утром и
                                вечером в теплое время на улице полно мошек. Одеть ребенка можно в тоненький
                                <a href="#">цельный комбинезон</a> или боди, в зависимости от погоды. Постарайтесь
                                купить одежду для малыша, которая максимально подходит для жарких августовских деньков.
                                Но учитывайте, что в этом месяце уже бывают холодные вечера.</p>
                            <p>С этими непоседами все сложнее, ведь за ними нужен глаз да глаз. Подросшим малышам тоже
                                необходимо брать больше питьевой воды и также хранить ее в термосумке. Кроме всего
                                прочего, не лишним будет иметь в запасе одну дополнительную хлопковую майку и шорты.
                                Обязательно берите с собой перекись водорода, вату, йод и пластырь. К слову, йод и
                                перекись даже продаются в специальных «контейнерах-непроливайках». Звучит не очень
                                приятно, но зато ранки на разбитых коленках вашего чада будут вовремя обработаны.</p>
                            <p style="text-align: center"><a href="#"><img src="images/demo/bb_blog3.jpg" alt=""></a></p>
                            <h2>H2 Что взять на прогулку с ребенком в жаркую погоду</h2>
                            <ol>
                                <li>Жаркие деньки обожают и взрослые, и дети. Особенно когда некуда спешить и есть
                                    возможность насладиться приятным времяпрепровождением на прогулке с собственным
                                    чадом. Тем не менее, даже к самой простой прогулке следует подготовиться, ведь мало
                                    ли что может понадобиться во время утреннего или вечернего выхода на детскую
                                    площадку.</li>
                                <li>Как ни странно, но с грудничками проще всего выходить на прогулку в жаркие дни.
                                    Точнее, днем как раз выходить и не надо. С младенцами принято гулять рано утром и
                                    под вечер, когда жара либо еще не началась, либо уже спала. С собой маленькому
                                    нужно взять дополнительное питание (если на искусственном вскармливании) и водичку.
                                    Все это хранить в термосумке.</li>
                                <li>Можно взять дополнительно тонкую и плотную пеленочку, чтобы защитить малыша от
                                    утреннего прохладного ветра. Обязательно надевайте москитную сетку на коляску, так
                                    как и утром и вечером в теплое время на улице полно мошек. Одеть ребенка можно в
                                    тоненький цельный комбинезон или боди, в зависимости от погоды. Постарайтесь купить
                                    одежду для малыша, которая максимально подходит для жарких августовских деньков.
                                    Но учитывайте, что в этом месяце уже бывают холодные вечера.</li>
                            </ol>
                        </div>
                        <div class="blog-author">
                            <div class="blog-author__ava">
                                <img src="images/demo/ava2.png" alt="">
                            </div>
                            <div class="blog-author__info">
                                <p class="blog-author__name">Автор статьи: <b>Александра Петровская</b></p>
                                <p>Жаркие деньки обожают и взрослые, и дети. Особенно когда некуда спешить и есть
                                    возможность насладиться приятным времяпрепровождением на прогулке с собственным
                                    чадом. Тем не менее, даже к самой простой прогулке следует подготовиться, ведь мало
                                    ли что может понадобиться во время утреннего или вечернего выхода на детскую
                                    площадку.</p>
                            </div>
                        </div>
                        <div class="blog-bottom">
                            <div class="blog-bottom__tags">
                                <i class="fa fa-tag"></i>
                                <span>Теги:</span>
                                <a href="#">детская одежда</a>
                                <a href="#">одежда для девочек</a>
                                <a href="#">советы молодым мамам</a>
                            </div>
                        </div>
                        <div class="related-post">
                            <div class="related-top clearfix">
                                <span>Похожие статьи</span>
                                <form action="" class="subs-form">
                                    <div class="form-group">
                                        <div class="form-icon">
                                            <input class="form-control" type="text" placeholder="Ваш e-mail">
                                            <span><i class="fa fa-envelop"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-bottom">
                                        <button class="btn btn-primary">Подписаться</button>
                                    </div>
                                </form>
                            </div>
                            <ul>
                                <li><a href="#">Как нарядить малыша к Рождеству</a></li>
                                <li><a href="#">Отмечаем День рождения ребенка в холодное время года</a></li>
                                <li><a href="#">Зимняя одежда для самых маленьких</a></li>
                                <li><a href="#">Что взять на прогулку с ребенком в жаркую погоду</a></li>
                                <li><a href="#">Выбираем детскую одежду для малышей</a></li>
                                <li><a href="#">Какая одежда не нужна деткам школьного возраста</a></li>
                                <li><a href="#">Как убедить подростка не одеваться слишком ярко</a></li>
                            </ul>
                        </div>
                        <div id="comments" class="comments">
                            <div class="comments__top">
                                <span>Комментарии <span>(3)</span></span>
                                <div class="comments-share">
                                    <span>Поделиться:</span>
                                    <ul class="navi-social clearfix">
                                        <li><a target="_blank" href="#" class="fb" rel="nofollow"><i
                                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a target="_blank" href="#" class="fb" rel="nofollow"><i class="fa fa-vk"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a target="_blank" href="#" class="fb" rel="nofollow"><i
                                                    class="fa fa-odnoklassniki" aria-hidden="true"></i></a></li>
                                        <li><a target="_blank" href="#" rel="nofollow"><i class="fa fa-instagram"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a target="_blank" href="#" rel="nofollow"><i class="fa fa-twitter"
                                                    aria-hidden="true"></i></a></li>
                                        <li><a target="_blank" href="#" class="yb" rel="nofollow"><i
                                                    class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="comments__list">
                                <div class="comment-item">
                                    <div class="item-name">
                                        Вероника, Москва <span>17.05.2017 (16:45)</span>
                                    </div>
                                    <div class="item-text">
                                        Отличная альтернатива дорогих импортных брендов одежды, более доступная по цене
                                        и во многом превосходящая по качеству пошива. Отличная альтернатива дорогих
                                        импортных брендов одежды, более доступная по цене и во многом превосходящая по
                                        качеству пошива.
                                    </div>
                                </div>
                                <div class="comment-item">
                                    <div class="item-name">
                                        Вероника, Москва <span>17.05.2017 (16:45)</span>
                                    </div>
                                    <div class="item-text">
                                        Отличная альтернатива дорогих импортных брендов одежды, более доступная по цене
                                        и во многом превосходящая по качеству пошива. Отличная альтернатива дорогих
                                        импортных брендов одежды, более доступная по цене и во многом превосходящая по
                                        качеству пошива.
                                    </div>
                                </div>
                                <div class="comment-item">
                                    <div class="item-name">
                                        Вероника, Москва <span>17.05.2017 (16:45)</span>
                                    </div>
                                    <div class="item-text">
                                        Отличная альтернатива дорогих импортных брендов одежды, более доступная по цене
                                        и во многом превосходящая по качеству пошива. Отличная альтернатива дорогих
                                        импортных брендов одежды, более доступная по цене и во многом превосходящая по
                                        качеству пошива.
                                    </div>
                                </div>
                            </div>
                            <div class="comments__bot">
                                <button class="btn btn-primary">Добавить комментарий</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div id="sidebar" class="sticky">
                        <aside>
                            <div class="widget-subs widget-blog">
                                <div class="subs-top">
                                    Узнайте больше!
                                </div>
                                <div class="subs-text-img">
                                    Подпишитесь на наш блог о товарах для детей
                                </div>
                                <div class="subs-text">
                                    Полезные статьи и рекомендации от специалистов, эксклюзивные интервью с
                                    производителями, секретные новости и все самое полезное от sport07.ru.
                                    Попробуйте,
                                    ведь
                                    отписаться вы сможете всегда :)
                                </div>
                                <form class="subs-form">
                                    <div class="form-group">
                                        <div class="form-icon">
                                            <input class="form-control" type="text" placeholder="Ваш e-mail">
                                            <span><i class="fa fa-envelop"></i></span>
                                        </div>
                                    </div>
                                    <div class="form-bottom">
                                        <button class="btn btn-default">Подписаться</button>
                                    </div>
                                </form>
                            </div>
                            <div class="widget-links-catalog widget-blog">
                                <div class="lc-top">
                                    У нас Вы можете приобрести:
                                </div>
                                <ul>
                                    <li><a href="#">одежду для девочек</a></li>
                                    <li><a href="#">одежду для мальчиков</a></li>
                                    <li><a href="#">одежду для новорожденных</a></li>
                                    <li><a href="#">одежду для детей до 12 лет</a></li>
                                </ul>
                                <div class="lc-text-img">
                                    Вас ждет широкий выбор товаров для детей на любой вкус.
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@@include('../includes/footer.html')

</html>