@@include('../includes/header.html', { "title": "Cabinet", "headerClass": "" })

<div class="container">
	<div class="inner">
		<main id="content" class="content content-inner" role="main">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Главная</a></li>
					<li><span>Личный кабинет</span></li>
				</ul>
			</div>
			<div class="cabinet">
				<ul class="page-nav clearfix">
					<li><a href="cabinet.html"><span>Персональная информация</span></a></li>
					<li class="active"><a href="cabinet-history.html"><span>История заказов</span></a></li>
				</ul>
				<div class="history-nav">
					<a href="cabinet-history.html" class="history-nav__item">
						<span class="nav-icon nav-icon-1"></span>
						<span class="nav-label">Принят</span>
					</a>
					<a href="cabinet-history-send.html" class="history-nav__item">
						<span class="nav-icon nav-icon-2"></span>
						<span class="nav-label">Отправлен</span>
					</a>
					<a href="cabinet-history-vivoz.html" class="history-nav__item">
						<span class="nav-icon nav-icon-3"></span>
						<span class="nav-label">В пункте самовывоза</span>
					</a>
					<a href="cabinet-history-complete.html" class="history-nav__item">
						<span class="nav-icon nav-icon-4"></span>
						<span class="nav-label">Выполнен</span>
					</a>
					<a href="cabinet-history-canceled.html" class="history-nav__item active">
						<span class="nav-icon nav-icon-5"></span>
						<span class="nav-label">Отменен</span>
					</a>
				</div>
				<div id="history" class="order-list">
					<div class="order-list__item order-item">
						<div class="order-item__top">
							<a data-toggle="collapse" data-parent="#history" href="#zakaz_1" class="collapsed">Заказ
								№7436 от 15.10.2017, 4 товара на сумму 3013 руб.</a>
						</div>
						<div id="zakaz_1" class="order-item__details collapse">
							<div class="order-products">
								<p>Состав заказа:</p>
								<a href="product.html">Утяжелитель универсальный BF-WUN01 синий (2 * 2000 г) (1 пар)</a>
								<a href="product.html">Коврик гимнастический BF-YM01 173*61*0,4 см. (Green) (1 шт))</a>
								<a href="product.html">Мяч для пилатеса BF-TB01 3,0 кг/15 см (Graphite) (1 шт)</a>
								<a href="product.html">Петля BF-RL10-208 см (оранжевый ) (1 шт)</a>
							</div>
						</div>
					</div>
					<div class="order-list__item order-item">
						<div class="order-item__top">
							<a data-toggle="collapse" data-parent="#history" href="#zakaz_2" class="collapsed">Заказ
								№7436 от 15.10.2017, 4 товара на сумму 3013 руб.</a>
						</div>
						<div id="zakaz_2" class="order-item__details collapse">
							<div class="order-products">
								<p>Состав заказа:</p>
								<a href="product.html">Утяжелитель универсальный BF-WUN01 синий (2 * 2000 г) (1 пар)</a>
								<a href="product.html">Коврик гимнастический BF-YM01 173*61*0,4 см. (Green) (1 шт))</a>
								<a href="product.html">Мяч для пилатеса BF-TB01 3,0 кг/15 см (Graphite) (1 шт)</a>
								<a href="product.html">Петля BF-RL10-208 см (оранжевый ) (1 шт)</a>
							</div>
						</div>
					</div>
				</div>
				<div class="order-promo">
					<h2>Повторите Ваш заказ со скидкой</h2>
					<p>Для этого, введите промокод SPASIBO в момент оформления нового заказа.</p>
					<a href="#" class="btn btn-green">Приступить к покупкам</a>
				</div>
			</div>
		</main>
	</div>
</div>

@@include('../includes/footer.html')