@@include('../includes/header.html', { "title": "Cart", "headerClass": "" })

<div class="container">
  <div class="inner">
    <main id="content" class="content content-inner" role="main">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><span>Корзина</span></li>
        </ul>
      </div>
      <div class="cart-header">
        <div class="page-heading">Корзина</div>
        <a href="#"><i class="fa fa-print"></i> Распечатать</a>
      </div>
      <div class="cart">
        <div class="cart-filter cart-row">
          <div class="cart-filter__sorting dropdown">
            <button class="dropdown-toggle" type="button" id="routeto" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              По дате поступления
              <i class="fa fa-angle-down"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="routeto">
              <a class="dropdown-item" href="#">От дорогих к дешевым</a>
              <a class="dropdown-item dropdown-active" href="#">По популярности</a>
              <a class="dropdown-item" href="#">По имени</a>
            </div>
          </div>
          <span class="cart-filter__stock">Отложено 2 товара</span>
          <span class="cart-filter__counter">В корзине 4 товара</span>
          <div class="cart-filter__clear">
            <a href="#"><span>&times;</span> Очистить корзину</a>
          </div>
        </div>
        <div class="cart-list">
          <div class="cart-item cart-row">
            <div class="cart-item__main">
              <div class="cart-item__image">
                <a href="product.html"><img src="images/demo/product_img1-190x190.jpg" alt=""></a>
              </div>
              <div class="cart-item__info">
                <a href="product.html">Раздвижные ледовые коньки</a>
                <div class="cart-item__options product-options">
                  <div class="prop prop-size">
                    <div class="prop-name">Размер:</div>
                    <div class="values">
                      <div class="value prop-change">
                        <span>L (39-42)</span>
                      </div>
                    </div>
                  </div>
                  <div class="prop prop-color">
                    <div class="prop-name">Цвет:</div>
                    <div class="values">
                      <div class="value">
                        <img src="images/color_black-red.png" alt="" />
                      </div>
                      <button class="prop-change">Изменить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-item__price">
              <p>1 590 руб./шт.</p>
              <span class="stock-danger">Осталась 1 шт</span>
            </div>
            <div class="cart-item__counter">
              <div class="input-counter">
                <button type="button" class="btn btn-minus btn-number" data-type="minus" data-field="quant[cart1]">
                  -
                </button>
                <div class="input-group-text">
                  <input type="text" name="quant[cart1]" class="form-control input-number input-area" value="1"
                    data-min="1" data-max="100000" data-step="1" data-unit="">
                </div>
                <button type="button" class="btn btn-plus btn-number" data-type="plus" data-field="quant[cart1]">
                  +
                </button>
              </div>
            </div>
            <div class="cart-item__sum">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб.</span></span>
                <del class="price-value price-value-old">1 690 <span class="price-value__currency">руб.</span></del>
              </div>
              <button class="cart-item__remove" title="убрать из корзины">&times;</button>
            </div>
          </div>
          <div class="cart-item cart-row">
            <div class="cart-item__main">
              <div class="cart-item__image">
                <a href="product.html"><img src="images/demo/product_img2-190x190.jpg" alt=""></a>
                <div class="cart-item__discont">
                  <span>-15%</span>
                </div>
              </div>
              <div class="cart-item__info">
                <a href="product.html">Раздвижные ледовые коньки</a>
                <div class="cart-item__options product-options">
                  <div class="prop prop-size">
                    <div class="prop-name">Размер:</div>
                    <div class="values">
                      <div class="value prop-change">
                        <span>L (39-42)</span>
                      </div>
                    </div>
                  </div>
                  <div class="prop prop-color">
                    <div class="prop-name">Цвет:</div>
                    <div class="values">
                      <div class="value">
                        <img src="images/color_black-red.png" alt="" />
                      </div>
                      <button class="prop-change">Изменить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-item__price">
              <p>1 590 руб./шт.</p>
              <span class="stock-warning"><i class="fa fa-clock"></i> Скоро закончится</span>
            </div>
            <div class="cart-item__counter">
              <div class="input-counter">
                <button type="button" class="btn btn-minus btn-number" data-type="minus" data-field="quant[cart2]">
                  -
                </button>
                <div class="input-group-text">
                  <input type="text" name="quant[cart2]" class="form-control input-number input-area" value="2"
                    data-min="1" data-max="100000" data-step="1" data-unit="">
                </div>
                <button type="button" class="btn btn-plus btn-number" data-type="plus" data-field="quant[cart2]">
                  +
                </button>
              </div>
            </div>
            <div class="cart-item__sum">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб.</span></span>
                <del class="price-value price-value-old">1 690 <span class="price-value__currency">руб.</span></del>
              </div>
              <div class="sum-economy">
                <p>Экономия</p>
                <span>1690 руб.</span>
              </div>
              <button class="cart-item__remove" title="убрать из корзины">&times;</button>
            </div>
          </div>
          <div class="cart-item cart-row">
            <div class="cart-item__main">
              <div class="cart-item__image">
                <a href="product.html"><img src="images/demo/product_img3-190x190.jpg" alt=""></a>
              </div>
              <div class="cart-item__info">
                <a href="product.html">Раздвижные ледовые коньки</a>
                <div class="cart-item__options product-options">
                  <div class="prop prop-size">
                    <div class="prop-name">Размер:</div>
                    <div class="values">
                      <div class="value prop-change">
                        <span>L (39-42)</span>
                      </div>
                    </div>
                    <div class="prop-popup">
                      <div class="filters">
                        <div class="filter filter-grid">
                          <div class="filter__top">Размер <span>(22)</span></div>
                          <div class="filter-grid__search-form">
                            <input type="text" placeholder="Поиск" class="form-control">
                          </div>
                          <div class="filter-grid__list">
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#" class="active">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#" class="disable">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="prop prop-color">
                    <div class="prop-name">Цвет:</div>
                    <div class="values">
                      <div class="value">
                        <img src="images/color_black-red.png" alt="" />
                      </div>
                      <button class="prop-change">Изменить</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cart-item__price">
              <p>1 590 руб./шт.</p>
              <span class="stock-success"><i class="fa fa-check"></i> В наличии</span>
            </div>
            <div class="cart-item__counter">
              <div class="input-counter">
                <button type="button" class="btn btn-minus btn-number" data-type="minus" data-field="quant[cart3]">
                  -
                </button>
                <div class="input-group-text">
                  <input type="text" name="quant[cart3]" class="form-control input-number input-area" value="1"
                    data-min="1" data-max="100000" data-step="1" data-unit="">
                </div>
                <button type="button" class="btn btn-plus btn-number" data-type="plus" data-field="quant[cart3]">
                  +
                </button>
              </div>
            </div>
            <div class="cart-item__sum">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб.</span></span>
              </div>
              <button class="cart-item__remove" title="убрать из корзины">&times;</button>
            </div>
          </div>
        </div>
        <div class="cart-result cart-row">
          <div class="cart-result__sum">
            <strong>Итого:.</strong>
            <p>Сума с НДС: 5 560 руб.</p>
          </div>
          <div class="cart-result__price">
            <div class="prices">
              <span class="price-value">3 080 <span class="price-value__currency">руб.</span></span>
              <del class="price-value price-value-old">1 690 <span class="price-value__currency">руб.</span></del>
            </div>
          </div>
        </div>
        <div class="cart-buttons">
          <a href="shop.html" class="link-catalog"><i class="fa fa-arrow-left"></i> Вернуться в каталог</a>
          <a href="checkout.html" class="btn btn-checkout">Оформить заказ</a>
          <button class="btn btn-primary btn-quick-order">Быстрый заказ</button>
        </div>
      </div>
    </main>
  </div>
  @@include('../includes/product-viewed.html')
</div>
@@include('../includes/footer.html')