@@include('../includes/header.html', { "title": "Catalog", "headerClass": " front-page-header" })

<div class="container">
  <div class="inner">
    <div id="content" class="content content-inner" role="main">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Каталог</a></li>
        </ul>
      </div>
      <section class="catalog">
        <h1 class="catalog__title page-heading">Каталог</h1>
        <div class="catalog__list">
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img1.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Хоккей</div>
              </div>
              <div class="catalog-item__stick catalog-item__stick-sale">
                <span class="catalog-item__stick-num">10%</span>
                Sale
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img2.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Фигурное катание</div>
              </div>
              <div class="catalog-item__stick catalog-item__stick-sale">
                <span class="catalog-item__stick-num">10%</span>
                Sale
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img3.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Лыжный спорт</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img4.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Санки, снегокаты, тюбинги, ледянки</div>
              </div>
              <div class="catalog-item__stick catalog-item__stick-novelty">
                <span class="catalog-item__stick-num"><i class="fa fa-thumbs-up"></i></span>
                Новинка
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img2.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Хоккей</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img1.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Фигурное катание</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img4.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Лыжный спорт</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img3.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Санки, снегокаты, тюбинги, ледянки</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img3.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Хоккей</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img4.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Фигурное катание</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img1.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Лыжный спорт</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img2.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Санки, снегокаты, тюбинги, ледянки</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img2.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Хоккей</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img1.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Фигурное катание</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img4.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Лыжный спорт</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img3.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Санки, снегокаты, тюбинги, ледянки</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img3.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Хоккей</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img4.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Фигурное катание</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img1.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Лыжный спорт</div>
              </div>
            </a>
          </div>
          <div class="catalog-item">
            <a href="#">
              <div class="catalog-item__photo" style="background-image: url(images/demo/catalog_img2.jpg)">
                <span>Открыть категорию</span>
              </div>
              <div class="catalog-item__name item-name">
                <div class="item-name__title">Санки, снегокаты, тюбинги, ледянки</div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
    <div id="sidebar" class="sidebar">
      <aside>
        @@include('../includes/catalog-navi.html', { "listClass" : ""})

        @@include('../includes/widgets/subscription.html')

        @@include('../includes/widgets/posts.html')
      </aside>
    </div>
  </div>
  <div class="inner-bottom">
    @@include('../includes/widgets/brands.html')
  </div>

  @@include('../includes/product-viewed.html')

  <div class="inner-bottom">
    <div class="inner-bottom__text post">
      <img src="images/demo/post1.jpg" alt="post img" style="float: left; margin: 0 20px 20px 0;" />
      <h1>Хочу поделиться с Вами историей создания этого проекта: (Н1)</h1>
      <p>Наш интернет-магазин спорттоваров создан на базе нескольких крупных оптовых компаний, обеспечивающих
        спортивными, туристическими товарами и товарами для активного отдыха более 1000 спортивных магазинов по всей
        России уже на протяжении более 20 лет. На страницах нашего интернет магазина вы можете увидеть более 6000
        наименований товаров для спорта и активного отдыха для самого широкого круга пользователей, начиная от детей и
        заканчивая продвинутыми любителями спорта. Наш <a href="#">ассортимент товаров</a> отработан в течении многих
        лет успешной работы на российском рынке в условиях жесткой конкуренции. Он производится на крупных фабриках
        Китая, Пакистана, России и других стран в больших объемах под строгим контролем...</p>
      <p>Наш интернет-магазин спорттоваров создан на базе нескольких крупных оптовых компаний, обеспечивающих
        спортивными, туристическими товарами и товарами для активного отдыха более 1000 спортивных магазинов по всей
        России уже на протяжении более 20 лет. На страницах нашего интернет магазина вы можете увидеть более 6000
        наименований товаров для спорта и активного отдыха для самого широкого круга пользователей, начиная от детей и
        заканчивая продвинутыми любителями спорта. Наш <a href="#">ассортимент товаров</a> отработан в течении многих
        лет успешной работы на российском рынке в условиях жесткой конкуренции. Он производится на крупных фабриках
        Китая, Пакистана, России и других стран в больших объемах под строгим контролем...</p>
      <div class="post-more">
        <div class="collapse" id="fullText">
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.</p>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.</p>
          <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
            ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
            sapiente ea proident.</p>
        </div>
        <a data-toggle="collapse" href="#fullText" role="button" aria-expanded="false" aria-controls="fullText"
          class="collapsed">
          Подробнее <i class="fa fa-angle-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>
@@include('../includes/footer.html')