@@include('../includes/header.html', { "title": "Compare", "headerClass": "" })

<div class="container">
  <div class="inner">
    <main id="content" class="content content-inner" role="main">
      <div class="compare">
        <div class="wrap-compare">
          <div class="compare-side">
            <div class="compare-side__top">
              <h1 class="page-heading">Сравнение товаров</h1>
              <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="routeto" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  Выберите категорию
                  <i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="routeto">
                  <a class="dropdown-item" href="#">Категория 1</a>
                  <a class="dropdown-item dropdown-active" href="#">Категория 2</a>
                  <a class="dropdown-item" href="#">Категория 3</a>
                  <a class="dropdown-item" href="#">Категория 4</a>
                </div>
              </div>
              <a class="compare-clear" href="#"><i class="fa fa-times"></i> Очистить список</a>
            </div>
            <div class="compare-filter">
              <a href="#" class="active">Все параметры</a>
              <a href="#">Отличия</a>
            </div>
            <div class="compare-values">
              <div class="value val-0"><span>Состав</span></div>
              <div class="value val-1">Кол-во</span> нитей, шт.</span></div>
              <div class="value val-2"><span>Тип упаковки</span></div>
              <div class="value val-3"><span>Кол-во в упаковке, шт.</span></div>
              <div class="value val-4"><span>Габариты упаковки, см</span></div>
              <div class="value val-5"><span>Вес упаковки, кг</span></div>
              <div class="value val-6"><span>Тип нанесения</span></div>
              <div class="value val-7"><span>Вес, гр.</span></div>
              <div class="value val-8"><span>Сфера применения</span></div>
            </div>
          </div>
          <div class="compare-main">
            <div class="compare-list">
              <div class="compare-item product-item">
                <div class="compare-item__main">
                  <a class="remove-compare" href="#" data-toggle="tooltip" data-placement="bottom"
                    title="Убрать из списка"><i class="fa fa-times"></i></a>
                  <div class="compare-item__code">Артикул: 00-00002508</div>
                  <a class="compare-item__link" href="product.html">
                    <div class="compare-item__image">
                      <img src="images/demo/product_img1.jpg" alt="" />
                    </div>
                    <div class="compare-item__title">
                      Велосипед TRINX Majestic M116 2019 26" 17"
                    </div>
                  </a>
                  <div class="compare-item__reate product-item__rate">
                    <div class="stars star-4"></div>
                    <span>3 отзыва</span>
                  </div>
                  <div class="compare-item__price">
                    <div class="prices">
                      <del class="price-value-old">1690 руб.</del>
                      <span class="price-value">1590 <span class="price-value__currency">руб./шт.</span></span>
                    </div>
                  </div>
                  <div class="compare-item__buttons">
                    <button class="btn btn-primary add-to-cart" title="Положить в корзину">
                      В корзину
                    </button>
                  </div>
                </div>
                <div class="compare-values">
                  <div class="value val-0"><span>50% хб, 50 ПЭ</span></div>
                  <div class="value val-1"><span>5</span></div>
                  <div class="value val-2"><span>полиэтиленовый мешок</span></div>
                  <div class="value val-3"><span>250</span></div>
                  <div class="value val-4"><span>80х80х40</span></div>
                  <div class="value val-5"><span>4</span></div>
                  <div class="value val-6"><span>ПВХ Точка</span></div>
                  <div class="value val-7"><span>55</span></div>
                  <div class="value val-8"><span>Автосервис, Строительство</span></div>
                </div>
              </div>
            </div>
            <div class="compare-cursor"></div>
          </div>
        </div>
        <span class="waiting-icon">
          <div class="loader">
            <div class="loader-cube"></div>
            <div class="loader-cube"></div>
            <div class="loader-cube"></div>
            <div class="loader-cube"></div>
            <div class="loader-cube"></div>
          </div>
        </span>
      </div>
    </main>
  </div>
  @@include('../includes/product-viewed.html')
</div>
@@include('../includes/footer.html')