@@include('../includes/header.html', { "title": "Compare", "headerClass": "" })

<div class="container">
  <div class="inner">
    <main id="content" class="content content-inner" role="main">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Бренды</a></li>
        </ul>
      </div>
      <div class="page-heading">Сравнение товаров</div>
      
    </main>

    <div id="sidebar" class="sidebar sidebar-shop">
      <aside>
        <div class="catalog-navi">
          <ul>
            <li class="has-child">
              <a href="#">Статьи</a>
              <div class="dropdown">
                <div class="category-col">
                  <h2 class="category-col__title">
                    <a href="#">Тяжелая атлетика</a>
                  </h2>
                  <ul>
                    <li><a href="#">Тренажеры и тяжелая атлетика</a></li>
                    <li><a href="#">Художественная гимнастика и танцы</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="has-child">
              <a href="#">Вопрос-ответ</a>
              <div class="dropdown">
                <div class="category-col">
                  <h2 class="category-col__title">
                    <a href="#">Тяжелая атлетика</a>
                  </h2>
                  <ul>
                    <li><a href="#">Тренажеры и тяжелая атлетика</a></li>
                    <li><a href="#">Художественная гимнастика и танцы</a></li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="has-child">
              <a href="#">О компании</a>
              <div class="dropdown">
                <div class="category-col">
                  <h2 class="category-col__title">
                    <a href="#">Тяжелая атлетика</a>
                  </h2>
                  <ul>
                    <li>
                      <a href="#">Гантели разборные <span>(15)</span></a>
                    </li>
                    <li>
                      <a href="#">Гири <span>(5)</span></a>
                    </li>
                    <li>
                      <a href="#">Грифы для гантелей и штанг <span>(100)</span></a>
                    </li>
                    <li>
                      <a href="#">Диски для гантелей и штанг <span>(18)</span></a>
                    </li>
                    <li>
                      <a href="#">Перчатки для тяжелой атлетики и велоспорта
                        <span>(19)</span></a>
                    </li>
                    <li>
                      <a href="#">Пояса для поднятия тяжестей <span>(17)</span></a>
                    </li>
                    <li>
                      <a href="#">Стойки для гантелей и штанг <span>(100)</span></a>
                    </li>
                    <li>
                      <a href="#">Скамьи <span>(1000)</span></a>
                    </li>
                    <li>
                      <a href="#">Аксессуары <span>(10)</span></a>
                    </li>
                  </ul>
                </div>
                <div class="category-col">
                  <h2 class="category-col__title">
                    <a href="#">Контакты</a>
                  </h2>
                  <ul>
                    <li>
                      <a href="#">Беговые дорожки <span>(105)</span></a>
                    </li>
                    <li>
                      <a href="#">Велотренажеры <span>(165)</span></a>
                    </li>
                    <li class="has-child">
                      <a href="#">Степперы, Эллипсоиды <span>(155)</span></a>
                      <ul>
                        <li>
                          <a href="#">Степперы с эспандерами <span>(25)</span></a>
                        </li>
                        <li>
                          <a href="#">Мини степперы <span>(15)</span></a>
                        </li>
                        <li>
                          <a href="#">Профессиональные степперы <span>(20)</span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li class="active"><a href="#">Бренды</a></li>
          </ul>
        </div>
        @@include('../includes/widgets/subscription.html')
        @@include('../includes/widgets/posts.html')
      </aside>
    </div>
  </div>
  @@include('../includes/product-viewed.html')
</div>
@@include('../includes/footer.html')