@@include('../includes/header.html', {
"title": "Welcome"
})

<div class="container">
	<div class="inner">
		<div id="content" class="content" role="main">
			<div class="sl">
				<div class="sl-item">
					<div class="sl-item__inner">
						<img src="images/demo/sl1.jpg">
						<div class="sl-text">
							<h2>Украсьте<br> свою жизнь</h2>
							<p>Обновите интерьер со скидкой 30%</p>
						</div>
					</div>
				</div>
				<div class="sl-item">
					<div class="sl-item__inner">
						<img src="images/demo/sl1.jpg">
						<div class="sl-text">
							<h2>Украсьте<br> свою жизнь</h2>
							<p>1Обновите интерьер со скидкой 30%</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="sidebar" class="sidebar">
			<aside>
				<div class="catalog-list">
					<ul>
						<li class="has-child">
							<a href="#">Одежда и обувь</a>
							<ul>
								<li><a href="#">Футболки</a></li>
								<li><a href="#">Кросовки и кеды</a></li>
							</ul>
						</li>
						<li class="has-child">
							<a href="#">Автотовары</a>
							<ul>
								<li><a href="#">Колеса</a></li>
							</ul>
						</li>
						<li class="has-child">
							<a href="#">Электроника</a>
							<ul>
								<li><a href="#">Бытовая техника</a></li>
								<li class="has-child">
									<a href="#">Компьютерная техника и ПО</a>
									<ul>
										<li><a href="#">Бытовая техника</a></li>
										<li>
											<a href="#">Компьютерная техника и ПО</a>
										</li>
										<li><a href="#">Телефоны и акссесуары</a></li>
										<li><a href="#">Аудиотехника и акссесуары</a></li>
										<li><a href="#">Автомобильная электроника</a></li>
										<li><a href="#">TV и видеотехника</a></li>
										<li><a href="#">Запчасти для техники и электроники</a></li>
										<li><a href="#">Фото, видекамеры и акссесуары</a></li>
									</ul>
								</li>
								<li><a href="#">Телефоны и акссесуары</a></li>
								<li><a href="#">Аудиотехника и акссесуары</a></li>
								<li class="has-child">
									<a href="#">Автомобильная электроника</a>
									<ul>
										<li><a href="#">Бытовая техника</a></li>
										<li>
											<a href="#">Компьютерная техника и ПО</a>
										</li>
										<li><a href="#">Телефоны и акссесуары</a></li>
									</ul>
								</li>
								<li><a href="#">TV и видеотехника</a></li>
								<li><a href="#">Запчасти для техники и электроники</a></li>
								<li><a href="#">Фото, видекамеры и акссесуары</a></li>
							</ul>
						</li>
						<li>
							<a href="#">Бытовая химия</a>
						</li>
						<li class="has-child">
							<a href="#">Все для дома</a>
						</li>
						<li>
							<a href="#">Декор, свадьба</a>
						</li>
						<li>
							<a href="#">Детский мир</a>
						</li>
						<li class="has-child">
							<a href="#">Для животных</a>
						</li>
						<li class="has-child">
							<a href="#">Здоровье</a>
						</li>
						<li class="has-child">
							<a href="#">Инструмент</a>
						</li>
					</ul>
				</div>
			</aside>
		</div>
	</div>
</div>
@@include('../includes/footer.html')