@@include('../includes/header.html', { "title": "Welcome", "headerClass": " front-page-header" })

<div class="container">
  <div class="inner">
    <div id="content" class="content" role="main">
      <div class="sl">
        <div class="sl-item">
          <div class="sl-item__inner">
            <img src="images/demo/sl1.jpg" />
            <div class="sl-text">
              <h2>
                Украсьте<br />
                свою жизнь
              </h2>
              <p>Обновите интерьер со скидкой 30%</p>
            </div>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-item__inner">
            <img src="images/demo/sl1.jpg" />
            <div class="sl-text">
              <h2>
                Украсьте<br />
                свою жизнь
              </h2>
              <p>1Обновите интерьер со скидкой 30%</p>
            </div>
          </div>
        </div>
      </div>
      <section class="advants">
        <div class="advants__list clearfix">
          <div class="item">
            <a href="#">
              <div class="icons">
                <i class="icons-advant1"></i>
              </div>
              <div class="name">Постоянным покупателям - вечные скидки</div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <div class="icons">
                <i class="icons-advant2"></i>
              </div>
              <div class="name">Доставка по всей России</div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <div class="icons">
                <i class="icons-advant3"></i>
              </div>
              <div class="name">Самовывоз</div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <div class="icons">
                <i class="icons-advant4"></i>
              </div>
              <div class="name">Удобная оплата</div>
            </a>
          </div>
          <div class="item">
            <a href="#">
              <div class="icons">
                <i class="icons-advant5"></i>
              </div>
              <div class="name">Гарантия качества</div>
            </a>
          </div>
        </div>
      </section>
      <div class="promo">
        <div class="promo-item promo-item--wide50">
          <a href="#">
            <img src="images/demo/category_img1-455x215.jpg" alt="" />
            <div class="promo-item__text">
              <div class="item-title">Единоборства</div>
              <p class="item-text">от 1 780 руб.</p>
            </div>
          </a>
        </div>
        <div class="promo-item">
          <a href="#">
            <img src="images/demo/category_img2-225x215.jpg" alt="" />
            <div class="promo-item__text">
              <div class="item-title">Бокс</div>
            </div>
          </a>
        </div>
        <div class="promo-item">
          <a href="#">
            <img src="images/demo/category_img3-225x215.jpg" alt="" />
            <div class="promo-item__text">
              <div class="item-title">Фигурное катание</div>
            </div>
          </a>
        </div>
        <div class="promo-item">
          <a href="#">
            <img src="images/demo/category_img4-225x215.jpg" alt="" />
            <div class="promo-item__text">
              <div class="item-title">Хоккей</div>
            </div>
          </a>
        </div>
        <div class="promo-item promo-item--wide50">
          <a href="#">
            <img src="images/demo/category_img5-455x215.jpg" alt="" />
            <div class="promo-item__text">
              <div class="item-title">Футбол</div>
            </div>
          </a>
        </div>
        <div class="promo-item">
          <a href="#">
            <img src="images/demo/category_img6-225x215.jpg" alt="" />
            <div class="promo-item__text">
              <div class="item-title">Плавание</div>
            </div>
          </a>
        </div>
      </div>
      <div class="product-tabs">
        <ul class="nav nav-tabs">
          <li><a class="active" href="#hits" data-toggle="tab">Хит</a></li>
          <li><a href="#recommed" data-toggle="tab">Советуем</a></li>
          <li><a href="#novinki" data-toggle="tab">Новинка</a></li>
          <li><a href="#akcia" data-toggle="tab">Акция</a></li>
        </ul>
        <div class="tab-content">
          <div id="hits" class="tab-pane fade show active">
            @@include('../includes/product-list.html')
          </div>
          <div id="recommed" class="tab-pane fade">
            @@include('../includes/product-list.html')
          </div>
          <div id="novinki" class="tab-pane fade">
            Новинка...
          </div>
          <div id="akcia" class="tab-pane fade">
            Акция...
          </div>
        </div>
      </div>
      <section class="akc">
        <div class="akc__top">
          <h2 class="section-title">
            Акции и специальные предложения нашего магазина
          </h2>
          <a href="#">Все акции</a>
        </div>
        <div class="akc-list">
          <div class="akc-item">
            <a href="#">
              <div class="akc-item__image">
                <img src="images/demo/img1-220x140.jpg" alt="" />
              </div>
              <div class="akc-item__title">
                Играй и проводи время на улице, скидки до 50%
              </div>
            </a>
            <div class="akc-item__period">
              с 27.09.2019 по 05.10.2019
            </div>
          </div>
          <div class="akc-item">
            <a href="#">
              <div class="akc-item__image">
                <img src="images/demo/img2-220x140.jpg" alt="" />
              </div>
              <div class="akc-item__title">
                Скидки до 20% на новое поступление роликов
              </div>
            </a>
            <div class="akc-item__period">
              с 27.09.2019 по 05.10.2019
            </div>
          </div>
          <div class="akc-item">
            <a href="#">
              <div class="akc-item__image">
                <img src="images/demo/img3-220x140.jpg" alt="" />
              </div>
              <div class="akc-item__title">
                Оптом дешевле! Скидки на покупки от 3000 руб.
              </div>
            </a>
            <div class="akc-item__period">
              с 27.09.2019 по 05.10.2019
            </div>
          </div>
          <div class="akc-item">
            <a href="#">
              <div class="akc-item__image">
                <img src="images/demo/img4-220x140.jpg" alt="" />
              </div>
              <div class="akc-item__title">
                Скидка на новую коллекцию от 10%.
              </div>
            </a>
            <div class="akc-item__period">
              с 27.09.2019 по 05.10.2019
            </div>
          </div>
        </div>
      </section>
      <div class="welcome">
        <div class="post">
          <img src="images/demo/img1.jpg" alt="" style="float: left; margin: 0 20px 20px 0;" />
          <h1>Более 20 лет мы сопровождаем спорт и активный отдых (Н1)</h1>
          <p>
            Наш интернет-магазин спорттоваров создан на базе нескольких крупных
            оптовых компаний, обеспечивающих спортивными, туристическими
            товарами и товарами для активного отдыха более 1000 спортивных
            магазинов по всей России уже на протяжении более 20 лет. На
            страницах нашего интернет магазина вы можете увидеть более 6000
            наименований товаров для спорта и активного отдыха для самого
            широкого круга пользователей, начиная от детей и заканчивая
            продвинутыми любителями спорта. Наш
            <a href="#">ассортимент товаров</a> отработан в течении многих лет
            успешной работы на российском рынке в условиях жесткой конкуренции.
            Он производится на крупных фабриках Китая, Пакистана, России и
            других стран в больших объемах под строгим контролем.<br />
            Главной задачей вышеперечисленных компаний, успешно развивающихся на
            рынке более 20 лет, является обеспечение покупателей хорошим,
            качественным товаром, полностью отвечающим его функциональному
            назначению, по реальным обоснованным ценам.
          </p>
          <h2>
            Как у всех, только дешевле или почему наши товары лучше известных
            магазинов? (Н2)
          </h2>
          <p>
            Наши товары рассчитаны в первую очередь на тех покупателей, которые
            не хотят переплачивать за красивую этикетку на товаре с известным
            «брендом», но которым нужен качественный товар по разумной цене.
            Например, футбольные бутсы нашего бренда «RGX» производятся на той
            же фабрике (Китай), на которой производятся бутсы с брендом «FILA» и
            «PUMA» точно того же качества. Сравните цены и вы увидите, сколько
            вы переплачиваете за «бренд». Наши специалисты очень внимательно
            подходят к формированию ассортимента товаров, которыми мы торгуем.
            Например, в нашем ассортименте есть боксёрские перчатки для самых
            маленьких (конечно же это игрушка) и профессиональные боксёрские
            перчатки, отвечающие всем требованиям профессионального бокса, в
            которых проводят тренировочные бои титулованные спортсмены.
          </p>
          <p>
            Другой пример. Мы не торгуем хоккейными коньками для
            профессиональных хоккеистов, потому что и тренировки (по 2
            тренировки на льду в день) и игры хоккеисты проводят в одних и тех
            же коньках, к которым предъявляются очень высокие требования.
            Современные профессиональные хоккейные коньки – это
            высокотехнологичная дорогостоящая продукция, которая….. совершенно
            не подходит для любительского катания. Конечно «на понтах» можно
            купить профессиональные коньки «BAUER», за 15-30 тысяч рублей, чтобы
            прокатится 2-3 раза в году с девушкой под музыку в парке им.
            Горького. Но в жестком карбоновом ботинке вам будет очень неудобно и
            вы испортите себе и девушке настроение. Лучше купить красивые внешне
            коньки из искусственной кожи за 2000-3000 руб. и чувствовать в них
            себя комфортно.
          </p>
          <p>
            В нашем интернет магазине вы сможете подобрать товары для всей
            семьи, а став постоянным клиентом нашего магазина будете получать
            очень хорошие скидки.
          </p>
          <h3>
            Наши товары на нашем складе и ждут отправки в любую секунду. (Н3)
          </h3>
          <p>
            На нашем сайте в любой момент времени вы увидите только те товары,
            которые реально имеются на складе и могут быть вам доставлены на
            следующий день . Мы имеем широкую сеть пунктов самовывоза, а также
            оперативную службу доставки по всей стране.
          </p>
          <p>
            Наша фотолаборатория делает для вас очень качественные фотографии
            товаров. Вы легко можете увидеть их в высоком разрешении и убедится
            в хорошем качестве, не беря товар в руки.
          </p>
          <p>Ждем вас с покупками и желаем хорошего настроения.</p>
        </div>
      </div>

      @@include('../includes/widgets/brands.html')
    </div>
    <div id="sidebar" class="sidebar">
      <aside>
        @@include('../includes/catalog-navi.html', { "listClass" : ""})

        @@include('../includes/widgets/subscription.html')

        @@include('../includes/widgets/posts.html')
      </aside>
    </div>
  </div>
</div>
@@include('../includes/footer.html')