@@include('../includes/header.html', { "title": "Manufacturers" })

<div class="container">
  <div class="inner">
    <div id="content" class="content content-inner" role="main">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Бренды</a></li>
        </ul>
      </div>
      <div class="page-heading">Производители</div>
    </div>

    <div id="sidebar" class="sidebar sidebar-shop">
      <aside>
      </aside>
    </div>
  </div>
  @@include('../includes/product-viewed.html')
</div>
@@include('../includes/footer.html')