@@include('../includes/header.html', { "title": "Wish List", "headerClass": "" })

<div class="container">
  <div class="inner">
    <main id="content" class="content content-inner" role="main">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Бренды</a></li>
        </ul>
      </div>
      <div class="page-heading">Списки желаний</div>

    </main>

    <div id="sidebar" class="sidebar sidebar-shop">
      <aside>
        <div class="catalog-navi">
          <ul>
            <li class="has-child">
              <a href="#">Мой кабинет</a>
            </li>
            <li class="has-child">
              <a href="#">Личные данные</a>
            </li>
            <li class="has-child">
              <a href="#">Мои банковские карты</a>
            </li>
            <li class="has-child active">
              <a href="#">Списки желаний</a>
            </li>
            <li class="has-child">
              <a href="#">Корзина</a>
            </li>
            <li class="has-child">
              <a href="#">Лист ожидания</a>
            </li>
            <li class="has-child">
              <a href="#">Мои заказы</a>
            </li>
            <li class="has-child">
              <a href="#">Мои отзывы</a>
            </li>
            <li class="has-child">
              <a href="#">Просмотренные товары</a>
            </li>
            <li class="has-child">
              <a href="#">Рассылки</a>
            </li>
            <li class="has-child">
              <a href="#">Участие в акциях</a>
            </li>
            <li class="has-child">
              <a href="#">Мои клубы</a>
            </li>
            <li class="has-child">
              <a href="#">Моя переписка</a>
            </li>
            <li class="has-child">
              <a href="#">Мои бонусы</a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
  @@include('../includes/product-viewed.html')
</div>
@@include('../includes/footer.html')