@@include('../includes/header.html', { "title": "Wish List", "headerClass": "" })

<div class="container">
  <div class="inner">
    <main id="content" class="content content-inner" role="main">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Бренды</a></li>
        </ul>
      </div>
      <div class="heading">
        <h2>Списки желаний</h2>
        <div class="dropdown">
          <button class="dropdown-toggle" type="button" id="routeto" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            По дате добавления
            <i class="fa fa-angle-down"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="routeto">
            <a class="dropdown-item" href="#">От дорогих к дешевым</a>
            <a class="dropdown-item dropdown-active" href="#">По дате добавления</a>
            <a class="dropdown-item" href="#">По популярности</a>
            <a class="dropdown-item" href="#">По имени</a>
          </div>
        </div>
      </div>
      <div class="wish">
        <div class="wish-filter">
          <div class="wish-filter__list">
            <span>Мой список желаний</span>
            <div class="dropdown">
              <button class="dropdown-toggle" type="button" id="routeto" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span>Все <strong>(4)</strong></span>
                <i class="fa fa-angle-down"></i>
              </button>
              <div class="dropdown-menu" aria-labelledby="routeto">
                <a class="dropdown-item dropdown-active" href="#">Все <strong>(4)</strong></a>
                <a class="dropdown-item" href="#">Список 1</a>
                <a class="dropdown-item" href="#">Список 2</a>
                <a class="dropdown-item" href="#">Список 3</a>
              </div>
            </div>
          </div>
          <div class="wish-filter__buttons">
            <a href="#" class="wish-link wish-link_ready">Готовые к заказу (2)</a>
            <a href="#" class="wish-link wish-link_wait">Отложенные (4)</a>
            <a href="#" class="wish-link wish-link_clear"><span>&times;</span> Очистить</a>
          </div>
        </div>
        <div class="wish-grid">
          <div class="wish-grid__head">
            <div class="grid-name">Наименование</div>
            <div class="grid-price">Цена</div>
            <div class="grid-amount">Количество</div>
            <div class="grid-sum">Сумма</div>
            <div class="grid-batons"></div>
          </div>
          <div class="wish-grid__row cart-item">
            <div class="grid-name cart-item__main">
              <div class="cart-item__image">
                <a href="product.html"><img src="images/demo/product_img1-190x190.jpg" alt=""></a>
              </div>
              <div class="cart-item__info">
                <a href="product.html">Раздвижные ледовые коньки</a>
              </div>
            </div>
            <div class="grid-price cart-item__price">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб./шт.</span></span>
              </div>
              <span class="stock stock-danger">Осталась 1 шт</span>
            </div>
            <div class="grid-amount">1 шт.</div>
            <div class="grid-sum cart-item__sum">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб.</span></span>
              </div>
            </div>
            <div class="grid-batons">
              <div class="grid-batons__props grid-batons__props--opened">
                <button class="btn-wish">В корзину</button>
                <div class="prop-popup wish-props">
                  <div class="wish-props__top">Раздвижные ледовые коньки</div>
                  <div class="wish-props__body">
                    <div class="product-options">
                      <div class="prop prop-size">
                        <div class="prop-name">Размер:</div>
                        <div class="values">
                          <div class="value value--active">
                            <span>L (39-42)</span>
                          </div>
                          <div class="value value--disable" title="Ждем поступления">
                            <span>M (35-38)</span>
                          </div>
                          <div class="value">
                            <span>S (31-34)</span>
                          </div>
                          <div class="value">
                            <span> XS (27-30)</span>
                          </div>
                        </div>
                      </div>
                      <div class="prop prop-color">
                        <div class="prop-name">Цвет:</div>
                        <div class="values">
                          <div class="value value--active">
                            <img src="images/color_1.png" alt="" />
                          </div>
                          <div class="value">
                            <img src="images/color_2.png" alt="" />
                          </div>
                          <div class="value">
                            <img src="images/color_3.png" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wish-props__bot">
                    <button class="btn btn-primary">В корзину</button>
                  </div>
                </div>
              </div>
              <button class="wish-remove" title="убрать из списка">&times;</button>
            </div>
          </div>
          <div class="wish-grid__row cart-item">
            <div class="grid-name cart-item__main">
              <div class="cart-item__image">
                <a href="product.html"><img src="images/demo/product_img2-190x190.jpg" alt=""></a>
                <div class="cart-item__discont">
                  <span>-15%</span>
                </div>
              </div>
              <div class="cart-item__info">
                <a href="product.html">Раздвижные ледовые коньки</a>
              </div>
            </div>
            <div class="grid-price cart-item__price">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб./шт.</span></span>
                <del class="price-value price-value-old">1 620 <span
                    class="price-value__currency">руб./шт.</span></span>
              </div>
              <span class="stock stock-warning"><i class="fa fa-clock"></i> Скоро закончится</span>
            </div>
            <div class="grid-amount">1 шт.</div>
            <div class="grid-sum cart-item__sum">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб.</span></span>
              </div>
            </div>
            <div class="grid-batons">
              <div class="grid-batons__props">
                <button class="btn-wish">В корзину</button>
                <div class="prop-popup wish-props">
                  <div class="wish-props__top">Раздвижные ледовые коньки</div>
                  <div class="wish-props__body">
                    <div class="product-options">
                      <div class="prop prop-size">
                        <div class="prop-name">Размер:</div>
                        <div class="values">
                          <div class="value value--active">
                            <span>L (39-42)</span>
                          </div>
                          <div class="value value--disable" title="Ждем поступления">
                            <span>M (35-38)</span>
                          </div>
                          <div class="value">
                            <span>S (31-34)</span>
                          </div>
                          <div class="value">
                            <span> XS (27-30)</span>
                          </div>
                        </div>
                      </div>
                      <div class="prop prop-color">
                        <div class="prop-name">Цвет:</div>
                        <div class="values">
                          <div class="value value--active">
                            <img src="images/color_1.png" alt="" />
                          </div>
                          <div class="value">
                            <img src="images/color_2.png" alt="" />
                          </div>
                          <div class="value">
                            <img src="images/color_3.png" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wish-props__bot">
                    <button class="btn btn-primary">В корзину</button>
                  </div>
                </div>
              </div>
              <button class="wish-remove" title="убрать из списка">&times;</button>
            </div>
          </div>
          <div class="wish-grid__row cart-item">
            <div class="grid-name cart-item__main">
              <div class="cart-item__image">
                <a href="product.html"><img src="images/demo/product_img3-190x190.jpg" alt=""></a>
              </div>
              <div class="cart-item__info">
                <a href="product.html">Раздвижные ледовые коньки</a>
                <div class="cart-item__options product-options">
                  <div class="prop prop-size">
                    <div class="prop-name">Размер:</div>
                    <div class="values">
                      <div class="value prop-change">
                        <span>L (39-42)</span>
                      </div>
                    </div>
                    <div class="prop-popup">
                      <div class="filters">
                        <div class="filter filter-grid">
                          <div class="filter__top">Размер <span>(22)</span></div>
                          <div class="filter-grid__search-form">
                            <input type="text" placeholder="Поиск" class="form-control">
                          </div>
                          <div class="filter-grid__list">
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#" class="active">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#" class="disable">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="prop prop-color">
                    <div class="prop-name">Цвет:</div>
                    <div class="values">
                      <div class="value">
                        <img src="images/color_black-red.png" alt="" />
                      </div>
                      <button class="prop-change">Изменить</button>
                    </div>
                    <div class="prop-popup">
                      <div class="filters">
                        <div class="filter filter-list">
                          <div class="filter__top">Пол</div>
                          <div class="filter__body">
                            <ul class="filter-list__list">
                              <li class="active">
                                <a href="#">Мужчинам</a>
                              </li>
                              <li>
                                <a href="#">Женщинам</a>
                              </li>
                              <li>
                                <a href="#">Детям</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-price cart-item__price">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб./шт.</span></span>
              </div>
              <span class="stock stock-success"><i class="fa fa-check"></i> В наличии</span>
            </div>
            <div class="grid-amount">1 шт.</div>
            <div class="grid-sum cart-item__sum">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб.</span></span>
              </div>
            </div>
            <div class="grid-batons">
              <div class="grid-batons__props">
                <button class="btn-wish btn-wish--incart">Изменить коризну</button>
                <div class="prop-popup wish-props">
                  <div class="wish-props__top">Раздвижные ледовые коньки</div>
                  <div class="wish-props__body">
                    <div class="product-options">
                      <div class="prop prop-size">
                        <div class="prop-name">Размер:</div>
                        <div class="values">
                          <div class="value value--active">
                            <span>L (39-42)</span>
                          </div>
                          <div class="value value--disable" title="Ждем поступления">
                            <span>M (35-38)</span>
                          </div>
                          <div class="value">
                            <span>S (31-34)</span>
                          </div>
                          <div class="value">
                            <span> XS (27-30)</span>
                          </div>
                        </div>
                      </div>
                      <div class="prop prop-color">
                        <div class="prop-name">Цвет:</div>
                        <div class="values">
                          <div class="value value--active">
                            <img src="images/color_1.png" alt="" />
                          </div>
                          <div class="value">
                            <img src="images/color_2.png" alt="" />
                          </div>
                          <div class="value">
                            <img src="images/color_3.png" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wish-props__bot">
                    <button class="btn btn-primary">В корзину</button>
                  </div>
                </div>
              </div>
              <button class="wish-remove" title="убрать из списка">&times;</button>
            </div>
          </div>
          <div class="wish-grid__row cart-item">
            <div class="grid-name cart-item__main">
              <div class="cart-item__image">
                <a href="product.html"><img src="images/demo/product_img1.jpg" alt=""></a>
              </div>
              <div class="cart-item__info">
                <a href="product.html">Раздвижные ледовые коньки</a>
                <div class="cart-item__options product-options">
                  <div class="prop prop-size">
                    <div class="prop-name">Размер:</div>
                    <div class="values">
                      <div class="value prop-change">
                        <span>L (39-42)</span>
                      </div>
                    </div>
                    <div class="prop-popup">
                      <div class="filters">
                        <div class="filter filter-grid">
                          <div class="filter__top">Размер <span>(22)</span></div>
                          <div class="filter-grid__search-form">
                            <input type="text" placeholder="Поиск" class="form-control">
                          </div>
                          <div class="filter-grid__list">
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#" class="active">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#" class="disable">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                            <a href="#">S (31-34)</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="prop prop-color">
                    <div class="prop-name">Цвет:</div>
                    <div class="values">
                      <div class="value">
                        <img src="images/color_black-red.png" alt="" />
                      </div>
                      <button class="prop-change">Изменить</button>
                    </div>
                    <div class="prop-popup">
                      <div class="filters">
                        <div class="filter filter-list">
                          <div class="filter__top">Пол</div>
                          <div class="filter__body">
                            <ul class="filter-list__list">
                              <li class="active">
                                <a href="#">Мужчинам</a>
                              </li>
                              <li>
                                <a href="#">Женщинам</a>
                              </li>
                              <li>
                                <a href="#">Детям</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="grid-price cart-item__price">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб./шт.</span></span>
              </div>
              <span class="stock stock-success"><i class="fa fa-check"></i> В наличии</span>
            </div>
            <div class="grid-amount">1 шт.</div>
            <div class="grid-sum cart-item__sum">
              <div class="prices">
                <span class="price-value">1 590 <span class="price-value__currency">руб.</span></span>
              </div>
            </div>
            <div class="grid-batons">
              <div class="grid-batons__props">
                <button class="btn-wish btn-wish--incart">Изменить коризну</button>
                <div class="prop-popup wish-props">
                  <div class="wish-props__top">Раздвижные ледовые коньки</div>
                  <div class="wish-props__body">
                    <div class="product-options">
                      <div class="prop prop-size">
                        <div class="prop-name">Размер:</div>
                        <div class="values">
                          <div class="value value--active">
                            <span>L (39-42)</span>
                          </div>
                          <div class="value value--disable" title="Ждем поступления">
                            <span>M (35-38)</span>
                          </div>
                          <div class="value">
                            <span>S (31-34)</span>
                          </div>
                          <div class="value">
                            <span> XS (27-30)</span>
                          </div>
                        </div>
                      </div>
                      <div class="prop prop-color">
                        <div class="prop-name">Цвет:</div>
                        <div class="values">
                          <div class="value value--active">
                            <img src="images/color_1.png" alt="" />
                          </div>
                          <div class="value">
                            <img src="images/color_2.png" alt="" />
                          </div>
                          <div class="value">
                            <img src="images/color_3.png" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="wish-props__bot">
                    <button class="btn btn-primary">В корзину</button>
                  </div>
                </div>
              </div>
              <button class="wish-remove" title="убрать из списка">&times;</button>
            </div>
          </div>
          <div class="wish-grid__total">
            <div class="wish-total">
              <strong>4</strong> товара на сумму <strong>6 360 руб.</strong>
            </div>
            <a href="#" class="btn-link quick-buy">Купить в 1 клик</a>
            <button class="btn btn-primary">Добавить все в корзину</button>
          </div>
        </div>
      </div>
    </main>

    <div id="sidebar" class="sidebar sidebar-shop">
      <aside>
        <div class="catalog-navi">
          <ul>
            <li class="has-child">
              <a href="#">Мой кабинет</a>
            </li>
            <li class="has-child">
              <a href="#">Личные данные</a>
            </li>
            <li class="has-child">
              <a href="#">Мои банковские карты</a>
            </li>
            <li class="has-child active">
              <a href="#">Списки желаний</a>
            </li>
            <li class="has-child">
              <a href="#">Корзина</a>
            </li>
            <li class="has-child">
              <a href="#">Лист ожидания</a>
            </li>
            <li class="has-child">
              <a href="#">Мои заказы</a>
            </li>
            <li class="has-child">
              <a href="#">Мои отзывы</a>
            </li>
            <li class="has-child">
              <a href="#">Просмотренные товары</a>
            </li>
            <li class="has-child">
              <a href="#">Рассылки</a>
            </li>
            <li class="has-child">
              <a href="#">Участие в акциях</a>
            </li>
            <li class="has-child">
              <a href="#">Мои клубы</a>
            </li>
            <li class="has-child">
              <a href="#">Моя переписка</a>
            </li>
            <li class="has-child">
              <a href="#">Мои бонусы</a>
            </li>
          </ul>
        </div>
      </aside>
    </div>
  </div>
  @@include('../includes/product-viewed.html')
</div>
@@include('../includes/footer.html')