@@include('../includes/header.html', { "title": "Shop", "headerClass": "" })

<div class="container">
  <div class="inner">
    <div id="sidebar" class="sidebar sidebar-shop">
      <aside>
        @@include('../includes/filters.html')
      </aside>
    </div>
    <div id="content" class="content content-inner" role="main">
      <div class="breadcrumbs">
        <ul>
          <li><a href="#">Главная</a></li>
          <li><a href="#">Каталог</a></li>
          <li><a href="#">Зимние виды спорта и активный отдыхг</a></li>
          <li><a href="#">Раздвижные коньки</a></li>
        </ul>
      </div>
      <div class="page-heading">Кимоно для карате</div>
      <div class="filter-selected">
        <a href="#">Коньки <span>&times;</span></a>
        <a href="#">Fredo <span>&times;</span></a>
        <a href="#">POINTER <span>&times;</span></a>
        <a href="#">30 <span>&times;</span></a>
        <a href="#">Сбросить все <span>&times;</span></a>
      </div>
      <div class="product-filter">
        <div class="product-filter__display">
          <a href="#" class="active">Хит</a>
          <a href="#">Советуем</a>
          <a href="#">Новинка</a>
          <a href="#">Акция</a>
        </div>
        <div class="product-filter__sorting dropdown">
          <button class="dropdown-toggle" type="button" id="routeto" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            От дешевых к дорогим
            <i class="fa fa-angle-down"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="routeto">
            <a class="dropdown-item" href="#">От дорогих к дешевым</a>
            <a class="dropdown-item dropdown-active" href="#">По популярности</a>
            <a class="dropdown-item" href="#">По имени</a>
          </div>
        </div>
        <a class="filter-toggle">Фильтр <i class="fa fa-angle-down"></i></a>
      </div>
      <div class="product-list">
        <div class="product-list__item product-item">
          <div class="item-inner">
            <div class="item-inner__top">
              <div class="product-item__stickers">
                <div class="sticker sticker-hit">
                  <span>Хит</span>
                </div>
                <div class="sticker sticker-recommend">
                  <span>Советуем!</span>
                </div>
              </div>
              <div class="product-item__discont">
                <span>-15%</span>
              </div>
              <div class="product-item__tools">
                <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
              </div>
              <div class="product-item__images">
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img1-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img2-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img3-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img1-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
              </div>
              <div class="product-item__quick-show">
                <a class="btn-quick-show">Быстрый просмотр</a>
              </div>
            </div>
            <div class="item-inner__main">
              <div class="product-item__title">
                <a href="product.html">Кимоно для дзюдо “CAPRICE”</a>
              </div>
              <div class="product-item__rate">
                <div class="stars star-4"></div>
                <span>3 отзыва</span>
              </div>
              <div class="product-item__stock">
                <a href="#" class="in-stock">
                  <i class="fas fa-check"></i>
                  <span>В наличии</span>
                </a>
              </div>
              <div class="product-item__price prices">
                <div class="price-value price-value-current">
                  <span>новая цена</span> <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                  <span>старая цена</span> <del>1690 руб.</del>
                </div>
              </div>
              <div class="product-item__options product-options">
                <div class="prop prop-color">
                  <div class="values">
                    <div class="value value--active">
                      <img src="images/color_black-red.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_blue.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_red-white.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="prop prop-size">
                  <div class="values">
                    <div class="value">
                      <span>120</span>
                    </div>
                    <div class="value value--active">
                      <span>125</span>
                    </div>
                    <div class="value">
                      <span>130</span>
                    </div>
                    <div class="value">
                      <span>135</span>
                    </div>
                    <div class="value">
                      <span>140</span>
                    </div>
                    <div class="value">
                      <span>145</span>
                    </div>
                    <div class="value">
                      <span>150</span>
                    </div>
                    <div class="value">
                      <span>155</span>
                    </div>
                    <div class="value">
                      <span>160</span>
                    </div>
                    <div class="value">
                      <span>165</span>
                    </div>
                    <div class="value">
                      <span>170</span>
                    </div>
                    <div class="value">
                      <span>175</span>
                    </div>
                    <div class="value">
                      <span>180</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item__buttons">
              <button class="btn btn-primary add-to-cart">Купить</button>
              <button class="btn btn-link quick-buy">
                Купить в 1 клик
              </button>
            </div>
          </div>
        </div>
        <div class="product-list__item product-item">
          <div class="item-inner">
            <div class="item-inner__top">
              <div class="product-item__stickers">
                <div class="sticker sticker-hit">
                  <span>Хит</span>
                </div>
              </div>
              <div class="product-item__discont">
                <span>-15%</span>
              </div>
              <div class="product-item__tools">
                <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
              </div>
              <div class="product-item__images">
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img2-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
              </div>
              <div class="product-item__quick-show">
                <a class="btn-quick-show">Быстрый просмотр</a>
              </div>
            </div>
            <div class="item-inner__main">
              <div class="product-item__title">
                <a href="product.html">Кимоно для дзюдо “CAPRICE”</a>
              </div>
              <div class="product-item__rate">
                <div class="stars star-5"></div>
              </div>
              <div class="product-item__stock">
                <a href="#" class="in-stock">
                  <i class="fas fa-check"></i>
                  <span>В наличии</span>
                </a>
              </div>
              <div class="product-item__price prices">
                <div class="price-value price-value-current">
                  <span>новая цена</span> <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                  <span>старая цена</span> <del>1690 руб.</del>
                </div>
              </div>
              <div class="product-item__options product-options">
                <div class="prop prop-color">
                  <div class="values">
                    <div class="value value--active">
                      <img src="images/color_blue.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_black-red.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="prop prop-size">
                  <div class="values">
                    <div class="value">
                      <span>120</span>
                    </div>
                    <div class="value">
                      <span>125</span>
                    </div>
                    <div class="value">
                      <span>130</span>
                    </div>
                    <div class="value value--active">
                      <span>135</span>
                    </div>
                    <div class="value">
                      <span>140</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item__buttons">
              <button class="btn btn-primary add-to-cart">Купить</button>
              <button class="btn btn-link quick-buy">
                Купить в 1 клик
              </button>
            </div>
          </div>
        </div>
        <div class="product-list__item product-item">
          <div class="item-inner">
            <div class="item-inner__top">
              <div class="product-item__stickers">
                <div class="sticker sticker-hit">
                  <span>Хит</span>
                </div>
                <div class="sticker sticker-promo">
                  <span>Акция!</span>
                </div>
              </div>
              <div class="product-item__discont">
                <span>-10%</span>
              </div>
              <div class="product-item__tools">
                <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
              </div>
              <div class="product-item__images">
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img3-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
              </div>
              <div class="product-item__quick-show">
                <a class="btn-quick-show">Быстрый просмотр</a>
              </div>
            </div>
            <div class="item-inner__main">
              <div class="product-item__title">
                <a href="product.html">Самбовки, натуральная кожа (черно-красные) Е016</a>
              </div>
              <div class="product-item__rate">
                <div class="stars star-3"></div>
              </div>
              <div class="product-item__stock">
                <a href="#" class="out-of-stock">
                  <i class="fas fa-check"></i>
                  <span>Скоро закончится</span>
                </a>
              </div>
              <div class="product-item__price prices">
                <div class="price-value price-value-current">
                  <span>новая цена</span> <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                  <span>старая цена</span> <del>1690 руб.</del>
                </div>
              </div>
              <div class="product-item__options product-options">
                <div class="prop prop-color">
                  <div class="values">
                    <div class="value value--active">
                      <img src="images/color_white.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_blue.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="prop prop-size">
                  <div class="values">
                    <div class="value">
                      <span>120</span>
                    </div>
                    <div class="value value--active">
                      <span>125</span>
                    </div>
                    <div class="value">
                      <span>130</span>
                    </div>
                    <div class="value">
                      <span>135</span>
                    </div>
                    <div class="value">
                      <span>140</span>
                    </div>
                    <div class="value">
                      <span>145</span>
                    </div>
                    <div class="value">
                      <span>145</span>
                    </div>
                    <div class="value">
                      <span>150</span>
                    </div>
                    <div class="value">
                      <span>155</span>
                    </div>
                    <div class="value">
                      <span>160</span>
                    </div>
                    <div class="value">
                      <span>165</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item__buttons">
              <button class="btn btn-primary add-to-cart">Купить</button>
              <button class="btn btn-link quick-buy">
                Купить в 1 клик
              </button>
            </div>
          </div>
        </div>
        <div class="product-list__item product-item">
          <div class="item-inner">
            <div class="item-inner__top">
              <div class="product-item__stickers">
                <div class="sticker sticker-hit">
                  <span>Хит</span>
                </div>
                <div class="sticker sticker-recommend">
                  <span>Советуем!</span>
                </div>
              </div>
              <div class="product-item__discont">
                <span>-15%</span>
              </div>
              <div class="product-item__tools">
                <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
              </div>
              <div class="product-item__images">
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img1-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img3-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img2-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
              </div>
              <div class="product-item__quick-show">
                <a class="btn-quick-show">Быстрый просмотр</a>
              </div>
            </div>
            <div class="item-inner__main">
              <div class="product-item__title">
                <a href="product.html">Кимоно для дзюдо “CAPRICE”</a>
              </div>
              <div class="product-item__rate">
                <div class="stars star-2"></div>
                <span>3 отзыва</span>
              </div>
              <div class="product-item__stock">
                <a href="#" class="in-stock">
                  <i class="fas fa-check"></i>
                  <span>В наличии</span>
                </a>
              </div>
              <div class="product-item__price prices">
                <div class="price-value price-value-current">
                  <span>новая цена</span> <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                  <span>старая цена</span> <del>1690 руб.</del>
                </div>
              </div>
              <div class="product-item__options product-options">
                <div class="prop prop-color">
                  <div class="values">
                    <div class="value value--active">
                      <img src="images/color_black-red.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_blue.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_red-white.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="prop prop-size">
                  <div class="values">
                    <div class="value">
                      <span>120</span>
                    </div>
                    <div class="value value--active">
                      <span>125</span>
                    </div>
                    <div class="value">
                      <span>130</span>
                    </div>
                    <div class="value">
                      <span>135</span>
                    </div>
                    <div class="value">
                      <span>140</span>
                    </div>
                    <div class="value">
                      <span>145</span>
                    </div>
                    <div class="value">
                      <span>150</span>
                    </div>
                    <div class="value">
                      <span>155</span>
                    </div>
                    <div class="value">
                      <span>160</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item__buttons">
              <button class="btn btn-primary add-to-cart">Купить</button>
              <button class="btn btn-link quick-buy">
                Купить в 1 клик
              </button>
            </div>
          </div>
        </div>
        <div class="product-list__item product-item product-item--in-cart">
          <div class="item-inner">
            <div class="item-inner__top">
              <div class="product-item__stickers">
                <div class="sticker sticker-hit">
                  <span>Хит</span>
                </div>
                <div class="sticker sticker-recommend">
                  <span>Советуем!</span>
                </div>
              </div>
              <div class="product-item__discont">
                <span>-15%</span>
              </div>
              <div class="product-item__tools">
                <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
              </div>
              <div class="product-item__images">
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img1-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img2-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img3-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img1-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
              </div>
              <div class="product-item__quick-show">
                <a class="btn-quick-show">Быстрый просмотр</a>
              </div>
            </div>
            <div class="item-inner__main">
              <div class="product-item__title">
                <a href="product.html">Кимоно для дзюдо “CAPRICE”</a>
              </div>
              <div class="product-item__rate">
                <div class="stars star-4"></div>
                <span>3 отзыва</span>
              </div>
              <div class="product-item__stock">
                <a href="#" class="in-stock">
                  <i class="fas fa-check"></i>
                  <span>В наличии</span>
                </a>
              </div>
              <div class="product-item__price prices">
                <div class="price-value price-value-current">
                  <span>новая цена</span> <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                  <span>старая цена</span> <del>1690 руб.</del>
                </div>
              </div>
              <div class="product-item__options product-options">
                <div class="prop prop-color">
                  <div class="values">
                    <div class="value value--active">
                      <img src="images/color_black-red.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_blue.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_red-white.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="prop prop-size">
                  <div class="values">
                    <div class="value">
                      <span>120</span>
                    </div>
                    <div class="value value--active">
                      <span>125</span>
                    </div>
                    <div class="value">
                      <span>130</span>
                    </div>
                    <div class="value">
                      <span>135</span>
                    </div>
                    <div class="value">
                      <span>140</span>
                    </div>
                    <div class="value">
                      <span>145</span>
                    </div>
                    <div class="value">
                      <span>150</span>
                    </div>
                    <div class="value">
                      <span>155</span>
                    </div>
                    <div class="value">
                      <span>160</span>
                    </div>
                    <div class="value">
                      <span>165</span>
                    </div>
                    <div class="value">
                      <span>170</span>
                    </div>
                    <div class="value">
                      <span>175</span>
                    </div>
                    <div class="value">
                      <span>180</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item__buttons">
              <button class="btn btn-primary add-to-cart">В корзине</button>
              <button class="btn btn-link quick-buy">
                Купить в 1 клик
              </button>
            </div>
          </div>
        </div>
        <div class="product-list__item product-item">
          <div class="item-inner">
            <div class="item-inner__top">
              <div class="product-item__stickers">
                <div class="sticker sticker-hit">
                  <span>Хит</span>
                </div>
              </div>
              <div class="product-item__discont">
                <span>-15%</span>
              </div>
              <div class="product-item__tools">
                <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
              </div>
              <div class="product-item__images">
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img2-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
              </div>
              <div class="product-item__quick-show">
                <a class="btn-quick-show">Быстрый просмотр</a>
              </div>
            </div>
            <div class="item-inner__main">
              <div class="product-item__title">
                <a href="product.html">Кимоно для дзюдо “CAPRICE”</a>
              </div>
              <div class="product-item__rate">
                <div class="stars star-5"></div>
              </div>
              <div class="product-item__stock">
                <a href="#" class="in-stock">
                  <i class="fas fa-check"></i>
                  <span>В наличии</span>
                </a>
              </div>
              <div class="product-item__price prices">
                <div class="price-value price-value-current">
                  <span>новая цена</span> <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                  <span>старая цена</span> <del>1690 руб.</del>
                </div>
              </div>
              <div class="product-item__options product-options">
                <div class="prop prop-color">
                  <div class="values">
                    <div class="value value--active">
                      <img src="images/color_blue.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_black-red.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="prop prop-size">
                  <div class="values">
                    <div class="value">
                      <span>120</span>
                    </div>
                    <div class="value">
                      <span>125</span>
                    </div>
                    <div class="value">
                      <span>130</span>
                    </div>
                    <div class="value value--active">
                      <span>135</span>
                    </div>
                    <div class="value">
                      <span>140</span>
                    </div>
                    <div class="value">
                      <span>145</span>
                    </div>
                    <div class="value">
                      <span>150</span>
                    </div>
                    <div class="value">
                      <span>155</span>
                    </div>
                    <div class="value">
                      <span>160</span>
                    </div>
                    <div class="value">
                      <span>165</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item__buttons">
              <button class="btn btn-primary add-to-cart">Купить</button>
              <button class="btn btn-link quick-buy">
                Купить в 1 клик
              </button>
            </div>
          </div>
        </div>
        <div class="product-list__item product-item">
          <div class="item-inner">
            <div class="item-inner__top">
              <div class="product-item__stickers">
                <div class="sticker sticker-hit">
                  <span>Хит</span>
                </div>
                <div class="sticker sticker-promo">
                  <span>Акция!</span>
                </div>
              </div>
              <div class="product-item__discont">
                <span>-10%</span>
              </div>
              <div class="product-item__tools">
                <a title="Добавить в избранное" class="btn-like"><i class="appicon appicon-heart"></i></a>
                <a title="Сравнить" class="btn-compare"><i class="appicon appicon-compare"></i></a>
              </div>
              <div class="product-item__images">
                <div class="item-image">
                  <a href="product.html">
                    <img src="images/demo/product_img3-190x190.jpg" alt="Шорты Ridge III" title="Шорты Ridge III" />
                  </a>
                </div>
              </div>
              <div class="product-item__quick-show">
                <a class="btn-quick-show">Быстрый просмотр</a>
              </div>
            </div>
            <div class="item-inner__main">
              <div class="product-item__title">
                <a href="product.html">Самбовки, натуральная кожа (черно-красные) Е016</a>
              </div>
              <div class="product-item__rate">
                <div class="stars star-3"></div>
              </div>
              <div class="product-item__stock">
                <a href="#" class="out-of-stock">
                  <i class="fas fa-check"></i>
                  <span>Скоро закончится</span>
                </a>
              </div>
              <div class="product-item__price prices">
                <div class="price-value price-value-current">
                  <span>новая цена</span> <strong>1590 руб./шт</strong>
                </div>
                <div class="price-value price-value-old">
                  <span>старая цена</span> <del>1690 руб.</del>
                </div>
              </div>
              <div class="product-item__options product-options">
                <div class="prop prop-color">
                  <div class="values">
                    <div class="value value--active">
                      <img src="images/color_white.png" alt="" />
                    </div>
                    <div class="value">
                      <img src="images/color_blue.png" alt="" />
                    </div>
                  </div>
                </div>
                <div class="prop prop-size">
                  <div class="values">
                    <div class="value">
                      <span>120</span>
                    </div>
                    <div class="value value--active">
                      <span>125</span>
                    </div>
                    <div class="value">
                      <span>130</span>
                    </div>
                    <div class="value">
                      <span>135</span>
                    </div>
                    <div class="value">
                      <span>140</span>
                    </div>
                    <div class="value">
                      <span>145</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-item__buttons">
              <button class="btn btn-primary add-to-cart">Купить</button>
              <button class="btn btn-link quick-buy">
                Купить в 1 клик
              </button>
            </div>
          </div>
        </div>
        <div class="product-list__loadmore">
          <a class="link-load"><i class="fa fa-refresh"></i> Показать ещё (7)</a>
        </div>
      </div>
      <div class="pagination">
        <a class="pagination__prev" href="#">
          <span><i class="fa fa-arrow-left"></i></span> Назад</a>
        <span class="link-page active">1</span>
        <a class="link-page" href="#">2</a>
        <a class="link-page" href="#">3</a>
        <a class="link-page" href="#">4</a>
        <a class="link-page" href="#">5</a>
        <a class="link-page" href="#">6</a>
        <a class="link-page" href="#">7</a>
        <a class="pagination__next" href="#">
          Вперед <span><i class="fa fa-arrow-right"></i></span></a>
      </div>
    </div>
  </div>
  @@include('../includes/product-viewed.html')
</div>
@@include('../includes/footer.html')