@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes c {
    0% {
        transform: translate(-1%, -1%) scale(1.1);
    }

    to {
        transform: translate(0) scale(1);
    }
}

%form-control {
    background: #fff;
    color: $text-color;
    border: 1px solid #000;
    border-radius: 0;
    font-size: 17px;
    padding: 6px 15px;
    height: auto;

    &:focus {
        border-color: $second-color;
        background: #fff;
        box-shadow: none;
    }
}

%label_primary {
    background: $primary-color;
    display: inline-block;
    position: relative;
    padding: 0 3px;
    margin: 0 5px;
    font-weight: 500;

    &:before,
    &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: 0;
    }

    &:before {
        border-width: 0 0 20px 5px;
        border-color: transparent transparent $primary-color transparent;
        left: -5px;
    }

    &:after {
        border-width: 20px 5px 0 0;
        border-color: $primary-color transparent transparent transparent;
        right: -5px;
    }
}

%label_blue {
    background: $primary-color;
    color: #fff;

    &:before {
        border-color: transparent transparent $primary-color transparent;
    }

    &:after {
        border-color: $primary-color transparent transparent transparent;
    }
}

%fontawesome {
    font-family: "Font Awesome 5 Free";
    font-size: 32px;
    font-weight: bold;
}

%overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    opacity: .3;
    z-index: 1;
    transition: .3s;
}

%hide_item {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

%show_item {
    opacity: 1;
    visibility: visible;
}