@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic-ext');

$fa-font-path: "../fonts/fontawesome" !default;
@import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "../../node_modules/@fortawesome/fontawesome-free/scss/v4-shims";

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/iconmoon/icomoon.eot?t5az8w');
    src:  url('../fonts/iconmoon/icomoon.eot?t5az8w#iefix') format('embedded-opentype'),
      url('../fonts/iconmoon/icomoon.ttf?t5az8w') format('truetype'),
      url('../fonts/iconmoon/icomoon.woff?t5az8w') format('woff'),
      url('../fonts/iconmoon/icomoon.svg?t5az8w#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icomoon-"], [class*=" icomoon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icomoon-cam:before {
    content: "\e900";
  }
  .icomoon-car:before {
    content: "\e901";
  }
  .icomoon-fix:before {
    content: "\e902";
  }
  .icomoon-home:before {
    content: "\e903";
  }
  .icomoon-love:before {
    content: "\e904";
  }
  .icomoon-moon:before {
    content: "\e905";
  }
  .icomoon-pic:before {
    content: "\e906";
  }
  .icomoon-rain:before {
    content: "\e907";
  }
  .icomoon-shirt:before {
    content: "\e908";
  }
  .icomoon-smile_happy:before {
    content: "\e909";
  }