@mixin myborder($height: 8px, $url: "../images/border.png", $pos: "after") {
    @if $pos=="after" {
        &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: $height;
            bottom: -($height / 2);
            left: 0;
            background: url($url) 0 0 repeat-x;
            z-index: 10;
        }
    }

    @else {
        &:before {
            content: "";
            position: absolute;
            width: 100%;
            height: $height;
            top: -($height / 2);
            left: 0;
            background: url($url) 0 0 repeat-x;
            z-index: 10;
        }
    }
}

@mixin line {
    width: 24px;
    height: 3px;
    background: #fff;
    transition: .3s;
}