$font: 'Roboto', sans-serif;
$text-color: #222222;
$primary-color: #458a2b;
$second-color: #ef8808;
$color-hover-link: #E7A219;
$border-color: #F3F2EE;
$container-width: 1200px;
$header-height: 80px;
$side-padding: 15px;
/*	Media Queries: ;*/

$big-desktop: 1420px;
$desktop: 1200px;
$tablet: 992px;
$mobile: 767px;
$small-mobile: 520px;